<section class="c-players-section">
  <div class="container">
    <div class="menu-section">
      <div class="menu-section__inner">
        <h1 class="h1">Soupiska 2022/2023</h1>
        <form action="" class="menu-section__form ms-auto">
          <label class="o-select menu-section__label">
            <select class="js-select">
              <option>Soupiska 2022/2023</option>
              <option value="tipsport">2020/21</option>
              <option value="tipsport">2019/20</option>
              <option value="tipsport">2018/19</option>
              <option value="tipsport">2017/18</option>
            </select>
          </label>
        </form>
      </div>
    </div>
    <div class="c-players-section__inner">
      <h2 class="c-players-section__title">Brankáři</h2>
      <div class="row g-5 c-players-section__row">
        <div class="col-xl-2 col-md-3 col-sm-4 col-6">
          <a href="#" class="c-players-section__item">
            <div class="c-players-section__img">
              <img src="" loading="lazy" alt="" />
              <span>61</span>
            </div>
            <h3 class="h2"><span>JAN</span> PŘECECHTĚL</h3>
          </a>
        </div>
        <div class="col-xl-2 col-md-3 col-sm-4 col-6">
          <a href="#" class="c-players-section__item">
            <div class="c-players-section__img">
              <img src="" loading="lazy" alt="" />
              <span>61</span>
            </div>
            <h3 class="h2"><span>JAN</span> PŘECECHTĚL</h3>
          </a>
        </div>
        <div class="col-xl-2 col-md-3 col-sm-4 col-6">
          <a href="#" class="c-players-section__item">
            <div class="c-players-section__img">
              <img src="" loading="lazy" alt="" />
              <span>61</span>
            </div>
            <h3 class="h2"><span>JAN</span> PŘECECHTĚL</h3>
          </a>
        </div>
        <div class="col-xl-2 col-md-3 col-sm-4 col-6">
          <a href="#" class="c-players-section__item">
            <div class="c-players-section__img">
              <img src="" loading="lazy" alt="" />
              <span>61</span>
            </div>
            <h3 class="h2"><span>JAN</span> PŘECECHTĚL</h3>
          </a>
        </div>
        <div class="col-xl-2 col-md-3 col-sm-4 col-6">
          <a href="#" class="c-players-section__item">
            <div class="c-players-section__img">
              <img src="" loading="lazy" alt="" />
              <span>61</span>
            </div>
            <h3 class="h2"><span>JAN</span> PŘECECHTĚL</h3>
          </a>
        </div>
      </div>
    </div>
    <div class="c-players-section__inner">
      <h2 class="c-players-section__title">obránci</h2>
      <div class="row g-5 c-players-section__row">
        <div class="col-xl-2 col-md-3 col-sm-4 col-6">
          <a href="#" class="c-players-section__item">
            <div class="c-players-section__img">
              <img src="" loading="lazy" alt="" />
              <span>61</span>
            </div>
            <h3 class="h2"><span>JAN</span> PŘECECHTĚL</h3>
          </a>
        </div>
        <div class="col-xl-2 col-md-3 col-sm-4 col-6">
          <a href="#" class="c-players-section__item">
            <div class="c-players-section__img">
              <img src="" loading="lazy" alt="" />
              <span>61</span>
            </div>
            <h3 class="h2"><span>JAN</span> PŘECECHTĚL</h3>
          </a>
        </div>
        <div class="col-xl-2 col-md-3 col-sm-4 col-6">
          <a href="#" class="c-players-section__item">
            <div class="c-players-section__img">
              <img src="" loading="lazy" alt="" />
              <span>61</span>
            </div>
            <h3 class="h2"><span>JAN</span> PŘECECHTĚL</h3>
          </a>
        </div>
        <div class="col-xl-2 col-md-3 col-sm-4 col-6">
          <a href="#" class="c-players-section__item">
            <div class="c-players-section__img">
              <img src="" loading="lazy" alt="" />
              <span>61</span>
            </div>
            <h3 class="h2"><span>JAN</span> PŘECECHTĚL</h3>
          </a>
        </div>
        <div class="col-xl-2 col-md-3 col-sm-4 col-6">
          <a href="#" class="c-players-section__item">
            <div class="c-players-section__img">
              <img src="" loading="lazy" alt="" />
              <span>61</span>
            </div>
            <h3 class="h2"><span>JAN</span> PŘECECHTĚL</h3>
          </a>
        </div>
        <div class="col-xl-2 col-md-3 col-sm-4 col-6">
          <a href="#" class="c-players-section__item">
            <div class="c-players-section__img">
              <img src="" loading="lazy" alt="" />
              <span>61</span>
            </div>
            <h3 class="h2"><span>JAN</span> PŘECECHTĚL</h3>
          </a>
        </div>
        <div class="col-xl-2 col-md-3 col-sm-4 col-6">
          <a href="#" class="c-players-section__item">
            <div class="c-players-section__img">
              <img src="" loading="lazy" alt="" />
              <span>61</span>
            </div>
            <h3 class="h2"><span>JAN</span> PŘECECHTĚL</h3>
          </a>
        </div>
        <div class="col-xl-2 col-md-3 col-sm-4 col-6">
          <a href="#" class="c-players-section__item">
            <div class="c-players-section__img">
              <img src="" loading="lazy" alt="" />
              <span>61</span>
            </div>
            <h3 class="h2"><span>JAN</span> PŘECECHTĚL</h3>
          </a>
        </div>
        <div class="col-xl-2 col-md-3 col-sm-4 col-6">
          <a href="#" class="c-players-section__item">
            <div class="c-players-section__img">
              <img src="" loading="lazy" alt="" />
              <span>61</span>
            </div>
            <h3 class="h2"><span>JAN</span> PŘECECHTĚL</h3>
          </a>
        </div>
        <div class="col-xl-2 col-md-3 col-sm-4 col-6">
          <a href="#" class="c-players-section__item">
            <div class="c-players-section__img">
              <img src="" loading="lazy" alt="" />
              <span>61</span>
            </div>
            <h3 class="h2"><span>JAN</span> PŘECECHTĚL</h3>
          </a>
        </div>
      </div>
    </div>
    <div class="c-players-section__inner">
      <h2 class="c-players-section__title">obránci</h2>
      <div class="row g-5 c-players-section__row">
        <div class="col-xl-2 col-md-3 col-sm-4 col-6">
          <a href="#" class="c-players-section__item">
            <div class="c-players-section__img">
              <img src="" loading="lazy" alt="" />
              <span>61</span>
            </div>
            <h3 class="h2"><span>JAN</span> PŘECECHTĚL</h3>
          </a>
        </div>
        <div class="col-xl-2 col-md-3 col-sm-4 col-6">
          <a href="#" class="c-players-section__item">
            <div class="c-players-section__img">
              <img src="" loading="lazy" alt="" />
              <span>61</span>
            </div>
            <h3 class="h2"><span>JAN</span> PŘECECHTĚL</h3>
          </a>
        </div>
        <div class="col-xl-2 col-md-3 col-sm-4 col-6">
          <a href="#" class="c-players-section__item">
            <div class="c-players-section__img">
              <img src="" loading="lazy" alt="" />
              <span>61</span>
            </div>
            <h3 class="h2"><span>JAN</span> PŘECECHTĚL</h3>
          </a>
        </div>
        <div class="col-xl-2 col-md-3 col-sm-4 col-6">
          <a href="#" class="c-players-section__item">
            <div class="c-players-section__img">
              <img src="" loading="lazy" alt="" />
              <span>61</span>
            </div>
            <h3 class="h2"><span>JAN</span> PŘECECHTĚL</h3>
          </a>
        </div>
        <div class="col-xl-2 col-md-3 col-sm-4 col-6">
          <a href="#" class="c-players-section__item">
            <div class="c-players-section__img">
              <img src="" loading="lazy" alt="" />
              <span>61</span>
            </div>
            <h3 class="h2"><span>JAN</span> PŘECECHTĚL</h3>
          </a>
        </div>
        <div class="col-xl-2 col-md-3 col-sm-4 col-6">
          <a href="#" class="c-players-section__item">
            <div class="c-players-section__img">
              <img src="" loading="lazy" alt="" />
              <span>61</span>
            </div>
            <h3 class="h2"><span>JAN</span> PŘECECHTĚL</h3>
          </a>
        </div>
        <div class="col-xl-2 col-md-3 col-sm-4 col-6">
          <a href="#" class="c-players-section__item">
            <div class="c-players-section__img">
              <img src="" loading="lazy" alt="" />
              <span>61</span>
            </div>
            <h3 class="h2"><span>JAN</span> PŘECECHTĚL</h3>
          </a>
        </div>
        <div class="col-xl-2 col-md-3 col-sm-4 col-6">
          <a href="#" class="c-players-section__item">
            <div class="c-players-section__img">
              <img src="" loading="lazy" alt="" />
              <span>61</span>
            </div>
            <h3 class="h2"><span>JAN</span> PŘECECHTĚL</h3>
          </a>
        </div>
        <div class="col-xl-2 col-md-3 col-sm-4 col-6">
          <a href="#" class="c-players-section__item">
            <div class="c-players-section__img">
              <img src="" loading="lazy" alt="" />
              <span>61</span>
            </div>
            <h3 class="h2"><span>JAN</span> PŘECECHTĚL</h3>
          </a>
        </div>
        <div class="col-xl-2 col-md-3 col-sm-4 col-6">
          <a href="#" class="c-players-section__item">
            <div class="c-players-section__img">
              <img src="" loading="lazy" alt="" />
              <span>61</span>
            </div>
            <h3 class="h2"><span>JAN</span> PŘECECHTĚL</h3>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
