<div class="c-player-section">
  <div class="c-player-section__img">
    <img src="images/content/topstory.png" alt="" loading="lazy" />
    <div class="c-player-section__box">
      <div class="c-player-section__number">#14</div>
      <div class="c-player-section__info">
        <ul class="tags">
          <li class="tag tag-primary">obránce</li>
        </ul>
        <h1 class="h1">
          Josef
          <br />
          němeček
        </h1>
      </div>
    </div>
  </div>
  <div class="c-player-section__list">
    <ul class="row g-md-10 g-5">
      <li class="col-md-2 col-sm-4 col-6">
        narozen
        <span> 7. 1. 2002 </span>
      </li>
      <li class="col-md-2 col-sm-4 col-6">
        Věk
        <span> 22 let </span>
      </li>
      <li class="col-md-2 col-sm-4 col-6">
        výška
        <span> 190 cm </span>
      </li>
      <li class="col-md-2 col-sm-4 col-6">
        váha
        <span> 86 cm </span>
      </li>
      <li class="col-md-2 col-sm-4 col-6">
        post
        <span> obránce </span>
      </li>
      <li class="col-md-2 col-sm-4 col-6">
        hůl
        <span> levá </span>
      </li>
    </ul>
  </div>
</div>
