<div class="hp-gallery">
  <div class="hp-gallery__inner bb-section js-gallery">
    <figure>
      <a href="images/content/topstory.png" data-size="1024x680">
        <img src="images/content/topstory.png" loading="lazy" alt="" />
      </a>
    </figure>
    <figure>
      <a href="images/content/g1.png" data-size="1024x680">
        <img src="images/content/g1.png" loading="lazy" alt="" />
      </a>
    </figure>
    <figure>
      <a href="images/content/g2.png" data-size="1024x680">
        <img src="images/content/g2.png" loading="lazy" alt="" />
      </a>
    </figure>
    <figure>
      <a href="images/content/topstory.png" data-size="1024x680">
        <img src="images/content/topstory.png" loading="lazy" alt="" />
      </a>
    </figure>
    <figure>
      <a href="images/content/g3.png" data-size="1024x680">
        <img src="images/content/g3.png" loading="lazy" alt="" />
      </a>
    </figure>
    <figure>
      <a href="images/content/topstory.png" data-size="1024x680">
        <img src="images/content/topstory.png" loading="lazy" alt="" />
      </a>
    </figure>
    <figure>
      <a href="images/content/g3.png" data-size="1024x680">
        <img src="images/content/g3.png" loading="lazy" alt="" />
      </a>
    </figure>
    <figure>
      <a href="images/content/g1.png" data-size="1024x680">
        <img src="images/content/g1.png" loading="lazy" alt="" />
      </a>
    </figure>
    <figure>
      <a href="images/content/g2.png" data-size="1024x680">
        <img src="images/content/g2.png" loading="lazy" alt="" />
      </a>
    </figure>
    <figure>
      <a href="images/content/topstory.png" data-size="1024x680">
        <img src="images/content/topstory.png" loading="lazy" alt="" />
      </a>
    </figure>
    <figure>
      <a href="images/content/g1.png" data-size="1024x680">
        <img src="images/content/g1.png" loading="lazy" alt="" />
      </a>
    </figure>
    <figure>
      <a href="images/content/g2.png" data-size="1024x680">
        <img src="images/content/g2.png" loading="lazy" alt="" />
      </a>
    </figure>
    <figure>
      <a href="images/content/topstory.png" data-size="1024x680">
        <img src="images/content/topstory.png" loading="lazy" alt="" />
      </a>
    </figure>
    <figure>
      <a href="images/content/g1.png" data-size="1024x680">
        <img src="images/content/g1.png" loading="lazy" alt="" />
      </a>
    </figure>
    <figure>
      <a href="images/content/g2.png" data-size="1024x680">
        <img src="images/content/g2.png" loading="lazy" alt="" />
      </a>
    </figure>
    <figure>
      <a href="images/content/topstory.png" data-size="1024x680">
        <img src="images/content/topstory.png" loading="lazy" alt="" />
      </a>
    </figure>
    <figure>
      <a href="images/content/topstory.png" data-size="1024x680">
        <img src="images/content/topstory.png" loading="lazy" alt="" />
      </a>
    </figure>
    <figure>
      <a href="images/content/topstory.png" data-size="1024x680">
        <img src="images/content/topstory.png" loading="lazy" alt="" />
      </a>
    </figure>
    <figure>
      <a href="images/content/topstory.png" data-size="1024x680">
        <img src="images/content/topstory.png" loading="lazy" alt="" />
      </a>
    </figure>
    <figure>
      <a href="images/content/g1.png" data-size="1024x680">
        <img src="images/content/g1.png" loading="lazy" alt="" />
      </a>
    </figure>
    <figure>
      <a href="images/content/g2.png" data-size="1024x680">
        <img src="images/content/g2.png" loading="lazy" alt="" />
      </a>
    </figure>
    <figure>
      <a href="images/content/topstory.png" data-size="1024x680">
        <img src="images/content/topstory.png" loading="lazy" alt="" />
      </a>
    </figure>
    <figure>
      <a href="images/content/g1.png" data-size="1024x680">
        <img src="images/content/g1.png" loading="lazy" alt="" />
      </a>
    </figure>
    <figure>
      <a href="images/content/g2.png" data-size="1024x680">
        <img src="images/content/g2.png" loading="lazy" alt="" />
      </a>
    </figure>
  </div>
</div>
