.fanshop {
  &__img {
    width: 100%;
    max-width: 200px;
    margin: 0 auto 16px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__item {
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: space-between;
    text-align: center;
    text-decoration: none;
    color: var(--color-dark);
    height: 100%;
    &:hover {
      p {
        text-decoration-color: inherit;
      }
    }
    p {
      font-size: 14px;
      font-weight: 700;
      line-height: 1.429;
      max-width: 180px;
      margin: 0 auto 16px;
      text-decoration: underline;
      text-decoration-color: transparent;
      transition: all 0.3s;
    }
    .tag-grey {
      min-width: 72px;
    }
    .tags {
      margin-bottom: 0;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      justify-content: center;
    }
    .tag {
      margin-top: auto;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 16px;
        height: 16px;
        object-fit: contain;
      }
    }
  }
}

.hp-fanshop {
  margin-bottom: 40px;
  @include media-breakpoint-down(md) {
    margin-bottom: 0px;
  }
}
