<div class="hp-fanshop">
  <div class="container">
    <div class="row gy-10">
      <div class="col-xl-2 col-sm-4 col-6">
        <a href="#" class="fanshop__item">
          <div class="fanshop__img">
            <img src="images/content/shop.jpeg" alt="" loading="lazy" />
          </div>
          <p>LHK Jestřábi Prostějov gym vak - Černá</p>
          <ul class="tags">
            <li class="tag tag-grey">150 kč</li>
            <li class="tag tag-primary">
              <img src="images/ico/cart.svg" alt="" loading="lazy" />
            </li>
          </ul>
        </a>
      </div>
      <div class="col-xl-2 col-sm-4 col-6">
        <a href="#" class="fanshop__item">
          <div class="fanshop__img">
            <img src="images/content/shop.jpeg" alt="" loading="lazy" />
          </div>
          <p>LHK Jestřábi Prostějov gym vak - Černá</p>
          <ul class="tags">
            <li class="tag tag-grey">150 kč</li>
            <li class="tag tag-primary">
              <img src="images/ico/cart.svg" alt="" loading="lazy" />
            </li>
          </ul>
        </a>
      </div>
      <div class="col-xl-2 col-sm-4 col-6">
        <a href="#" class="fanshop__item">
          <div class="fanshop__img">
            <img src="images/content/shop.jpeg" alt="" loading="lazy" />
          </div>
          <p>LHK Jestřábi Prostějov gym vak - Černá</p>
          <ul class="tags">
            <li class="tag tag-grey">150 kč</li>
            <li class="tag tag-primary">
              <img src="images/ico/cart.svg" alt="" loading="lazy" />
            </li>
          </ul>
        </a>
      </div>
      <div class="col-xl-2 col-sm-4 col-6">
        <a href="#" class="fanshop__item">
          <div class="fanshop__img">
            <img src="images/content/shop.jpeg" alt="" loading="lazy" />
          </div>
          <p>LHK Jestřábi Prostějov gym vak - Černá</p>
          <ul class="tags">
            <li class="tag tag-grey">150 kč</li>
            <li class="tag tag-primary">
              <img src="images/ico/cart.svg" alt="" loading="lazy" />
            </li>
          </ul>
        </a>
      </div>
      <div class="col-xl-2 col-sm-4 col-6">
        <a href="#" class="fanshop__item">
          <div class="fanshop__img">
            <img src="images/content/shop.jpeg" alt="" loading="lazy" />
          </div>
          <p>LHK Jestřábi Prostějov tričko s krátkým rukávem - Červená</p>
          <ul class="tags">
            <li class="tag tag-grey">150 kč</li>
            <li class="tag tag-primary">
              <img src="images/ico/cart.svg" alt="" loading="lazy" />
            </li>
          </ul>
        </a>
      </div>
      <div class="col-xl-2 col-sm-4 col-6">
        <a href="#" class="fanshop__item">
          <div class="fanshop__img">
            <img src="images/content/shop.jpeg" alt="" loading="lazy" />
          </div>
          <p>LHK Jestřábi Prostějov gym vak - Černá</p>
          <ul class="tags">
            <li class="tag tag-grey">150 kč</li>
            <li class="tag tag-primary">
              <img src="images/ico/cart.svg" alt="" loading="lazy" />
            </li>
          </ul>
        </a>
      </div>
    </div>
  </div>
</div>
