.timer {
  display: flex;
  margin-bottom: 26px;
  max-width: 180px;
  &__label {
    display: block;
    font-size: 16px;
    font-family: "BebasNeueBold";
    font-weight: 700;
    line-height: 1.25;
    text-transform: uppercase;
    color: var(--color-dark);
    text-transform: uppercase;
  }
  &__value {
    line-height: 1;
    font-size: 24px;
    display: block;
    margin-bottom: 4px;
    font-family: "BebasNeueBook";
  }
  &__item {
    text-align: center;
    margin-right: 13px;
    padding-right: 13px;
    position: relative;
    &:last-child {
      margin-right: 0;
      padding-right: 0;
    }
    &::after {
      content: ":";
      position: absolute;
      right: 0;
      top: -4px;
      width: 2px;
      height: 1px;
    }
  }
}
#timer-seconds::after {
  display: none;
}
