<section class="statistics-section mb-10">
  <div class="container">
    <div class="row g-10">
      <div class="col-xl-8">
        <div class="menu-section">
          <div class="menu-section__inner">
            <h1 class="h1">Soupiska 2022/2023</h1>
            <form action="" class="menu-section__form ms-auto">
              <label class="o-select menu-section__label">
                <select class="js-select">
                  <option>Soupiska 2022/2023</option>
                  <option value="tipsport">2020/21</option>
                  <option value="tipsport">2019/20</option>
                  <option value="tipsport">2018/19</option>
                  <option value="tipsport">2017/18</option>
                </select>
              </label>
            </form>
          </div>
        </div>
        <p class="mb-4">
         <strong>Vysvětlivky</strong>
         položek naleznete dole pod tabulkami.
         <br />
         <strong>TIP!</strong>
         kliknutím na jednotlivá statistická čísla získáte podrobný přehled
         statistik v zápase.
       </p>
       <div class="o-content mb-6">
         <table class="">
           <thead>
             <tr>
               <th>#</th>
               <th>brankáři</th>
               <th>Z</th>
               <th>Min</th>
               <th>Stř</th>
               <th>Ink</th>
               <th>Zás</th>
               <th>Prů</th>
               <th>Úsp</th>
               <th>SO</th>
               <th>A</th>
               <th>
                 <a href="#">TM</a>
               </th>
             </tr>
           </thead>
           <tbody>
             <tr>
               <td>2.</td>
               <td><a href="#">AGašper Krošelj</a></td>
               <td>32</td>
               <td>1702:07</td>
               <td>755</td>
               <td>20</td>
               <td>13</td>
               <td>56:24</td>
               <td>32</td>
               <td>26</td>
               <td>32</td>
               <td>26</td>
             </tr>
             <tr>
               <td>4.</td>
               <td><a href="#">XGašper Krošelj</a></td>
               <td>32</td>
               <td>1702:07</td>
               <td>755</td>
               <td>20</td>
               <td>13</td>
               <td>56:24</td>
               <td>32</td>
               <td>26</td>
               <td>32</td>
               <td>26</td>
             </tr>
             <tr>
               <td>1.</td>
               <td><a href="#">fGašper Krošelj</a></td>
               <td>32</td>
               <td>1702:07</td>
               <td>755</td>
               <td>20</td>
               <td>13</td>
               <td>56:24</td>
               <td>32</td>
               <td>26</td>
               <td>32</td>
               <td>26</td>
             </tr>
           </tbody>
         </table>
       </div>
       <div class="header-section w-100 mb-5">
         <form action="" class="w-100 d-flex header-section__form">
           <label class="o-select w-100 header-section__label">
             <select class="js-select">
               <option>Zobrazit:</option>
               <option value="tipsport">odděleně obránci a útočníci</option>
               <option value="tipsport">všichni hráči dohromady</option>
             </select>
           </label>
         </form>
       </div>
       <div class="o-content mb-4">
         <table class="">
           <thead>
             <tr>
               <th>#</th>
               <th>obránci</th>
               <th>P</th>
               <th>Z</th>
               <th>G</th>
               <th>A</th>
               <th>B</th>
               <th>+/-</th>
               <th>TM</th>
             </tr>
           </thead>
           <tbody>
             <tr>
               <td>4.</td>
               <td><a href="#">kkGašper Krošelj</a></td>
               <td>32</td>
               <td>755</td>
               <td>20</td>
               <td>32</td>
               <td>26</td>
               <td>32</td>
               <td>26</td>
             </tr>
             <tr>
               <td>2.</td>
               <td><a href="#">ddGašper Krošelj</a></td>
               <td>32</td>
               <td>755</td>
               <td>20</td>
               <td>32</td>
               <td>26</td>
               <td>32</td>
               <td>26</td>
             </tr>
             <tr>
               <td>88.</td>
               <td><a href="#">XXGašper Krošelj</a></td>
               <td>32</td>
               <td>755</td>
               <td>20</td>
               <td>32</td>
               <td>26</td>
               <td>32</td>
               <td>26</td>
             </tr>
             <tr>
               <td>66.</td>
               <td><a href="#">AAGašpaer Krošelj</a></td>
               <td>32</td>
               <td>755</td>
               <td>20</td>
               <td>32</td>
               <td>26</td>
               <td>32</td>
               <td>26</td>
             </tr>
             <tr>
               <td>32.</td>
               <td><a href="#">Gašper Krošelj</a></td>
               <td>32</td>
               <td>755</td>
               <td>20</td>
               <td>32</td>
               <td>26</td>
               <td>32</td>
               <td>26</td>
             </tr>
             <tr>
               <td>32.</td>
               <td><a href="#">Gašper Krošelj</a></td>
               <td>32</td>
               <td>755</td>
               <td>20</td>
               <td>32</td>
               <td>26</td>
               <td>32</td>
               <td>26</td>
             </tr>
             <tr>
               <td>32.</td>
               <td><a href="#">Gašper Krošelj</a></td>
               <td>32</td>
               <td>755</td>
               <td>20</td>
               <td>32</td>
               <td>26</td>
               <td>32</td>
               <td>26</td>
             </tr>
             <tr>
               <td>32.</td>
               <td><a href="#">Gašper Krošelj</a></td>
               <td>32</td>
               <td>755</td>
               <td>20</td>
               <td>32</td>
               <td>26</td>
               <td>32</td>
               <td>26</td>
             </tr>
           </tbody>
         </table>
       </div>
       <div class="o-content mb-10">
         <table class="">
           <thead>
             <tr>
               <th>#</th>
               <th>útočníci</th>
               <th>P</th>
               <th>Z</th>
               <th>G</th>
               <th>A</th>
               <th>B</th>
               <th>+/-</th>
               <th>TM</th>
             </tr>
           </thead>
           <tbody>
             <tr>
               <td>1.</td>
               <td><a href="#">Gašper Krošelj</a></td>
               <td>32</td>
               <td>755</td>
               <td>20</td>
               <td>32</td>
               <td>26</td>
               <td>32</td>
               <td>26</td>
             </tr>
             <tr>
               <td>3.</td>
               <td><a href="#">Gašper Krošelj</a></td>
               <td>32</td>
               <td>755</td>
               <td>20</td>
               <td>32</td>
               <td>26</td>
               <td>32</td>
               <td>26</td>
             </tr>
             <tr>
               <td>1.</td>
               <td><a href="#">CC Krošelj</a></td>
               <td>32</td>
               <td>755</td>
               <td>20</td>
               <td>32</td>
               <td>26</td>
               <td>32</td>
               <td>26</td>
             </tr>
             <tr>
               <td>32.</td>
               <td><a href="#">XX Krošelj</a></td>
               <td>32</td>
               <td>755</td>
               <td>20</td>
               <td>32</td>
               <td>26</td>
               <td>32</td>
               <td>26</td>
             </tr>
             <tr>
               <td>32.</td>
               <td><a href="#">AA Krošelj</a></td>
               <td>32</td>
               <td>755</td>
               <td>20</td>
               <td>32</td>
               <td>26</td>
               <td>32</td>
               <td>26</td>
             </tr>
             <tr>
               <td>32.</td>
               <td><a href="#">BB Krošelj</a></td>
               <td>32</td>
               <td>755</td>
               <td>20</td>
               <td>32</td>
               <td>26</td>
               <td>32</td>
               <td>26</td>
             </tr>
             <tr>
               <td>32.</td>
               <td><a href="#">Gašper Krošelj</a></td>
               <td>32</td>
               <td>3</td>
               <td>111</td>
               <td>32</td>
               <td>6</td>
               <td>88</td>
               <td>99</td>
             </tr>
             <tr>
               <td>32.</td>
               <td><a href="#">Gašper Krošelj</a></td>
               <td>32</td>
               <td>3333</td>
               <td>2222</td>
               <td>32</td>
               <td>26</td>
               <td>32</td>
               <td>26</td>
             </tr>
           </tbody>
         </table>
       </div>
       <h2 class="h3 mb-6 text-uppercase ">Vysvětlivky sloupců</h2>
       <h3 class="h5 text-primary mb-2">Brankáři</h3>
       <p class="mb-6">
         <strong># </strong>- číslo dresu v posledním zápase (pro případ, že
         by se měnilo) <br /><strong>Z </strong>- počet zápasů, v nichž hráč
         nastoupil <br /><strong>Min </strong>- počet odchytaných minut
         <br /><strong>Stř </strong>- počet střel vyslaných na brankáře
         <br /><strong>Ink </strong>- počet inkasovaných gólů <br /><strong
           >Zás </strong
         >- počet zásahů <br /><strong>Prů </strong>- průměr gólů na zápas (
         = inkasované góly / minuty/60 ) <br /><strong>Úsp </strong>-
         úspěšnost zásahů ( = zásahy / střely ) <br /><strong>SO </strong>-
         shut-outy, vychytané nuly <br /><strong>A </strong>- asistence
         <br /><strong>TM </strong>- trestné minuty
       </p>
       <h3 class="h5 mb-2 text-primary">Hráči v poli</h3>
       <p>
         <p><strong># </strong>- číslo dresu v posledním zápase (pro případ, že by se měnilo)
            <br><strong>Z </strong>- počet zápasů, v nichž hráč nastoupil
            <br><strong>P</strong> - post (obránce nebo útočník)
            <br><strong>Z</strong> - počet zápasů, v nichž hráč nastoupil
            <br><strong>G, A, B</strong> - góly, asistence, body
            </p>
       </p>
       
      </div>
      <div class="col-xl-4 d-xl-block d-none">
        {% include "@components/aside/aside-match.twig" %}
      </div>
    </div>
  </div>
</section>
