<aside class="aside">
  <h3 class="h3 mb-3 text-primary">submenu</h3>
  <ul class="aside__list">
    <li>
      <a class="active" href="#"> Všechny zápasy </a>
    </li>
    <li>
      <a href="#"> Chance LIGA </a>
    </li>
    <li>
      <a href="#"> Liga mistrů </a>
    </li>
    <li>
      <a href="#"> Přípravné zápasy </a>
    </li>
  </ul>
  <h3 class="h3 text-primary mb-4">zápasy</h3>
  <div class="match">
    <div class="match__top">
      <div class="calednar-date">
        {% include "@components/timer/timer.twig" %}
      </div>
    </div>

    <div class="match__info">
      <div class="match__logo">
        <img src="images/content/1.png" loading="lazy" alt="" />
      </div>
      <div class="match__datum">
        <p class="p2 mb-4">
          <strong> Čtvrtek 13.2. 17:00 </strong>
        </p>
        <h4 class="h1">17:00</h4>
      </div>
      <div class="match__logo">
        <img src="images/ico/logo.svg" loading="lazy" alt="" />
      </div>
    </div>
    <div class="match__links">
      <a class="tag tag-primary" href="#">Onlajny</a>
      <a class="tag tag-primary" href="">Preview</a>
    </div>
  </div>
  <div class="match">
    <div class="match__top mb-4">
      <p>
        <b>23.kolo, čtvrtek 13.2.</b>
      </p>
      <p>ČEZ Stadium</p>
    </div>
    <div class="match__info">
      <div class="match__logo">
        <img src="images/ico/logo.svg" alt="" />
      </div>
      <h4 class="win h1">
        5:1
        <span> (2:0) </span>
      </h4>
      <div class="match__logo">
        <img src="images/content/2.png" alt="" />
      </div>
    </div>
    <div class="match__links">
      <a class="tag tag-primary" href="#">Onlajny</a>
      <a class="tag tag-primary" href="">Report</a>
      <a class="tag tag-primary" href="">Video</a>
    </div>
  </div>
  <h3 class="h3 mb-4 text-primary">další články</h3>
  <a href="#" class="hp-posts__item mb-8">
    <div class="hp-posts__img">
      <img src="images/content/topstory.png" alt="" loading="lazy" />
    </div>
    <div class="hp-posts__info">
      <ul class="tags">
        <li class="tag tag-grey">preview</li>
        <li class="tag tag-dark">Před 2 hod</li>
      </ul>
      <h3 class="h3">Z Baťova města se vracíme s prázdnou</h3>
    </div>
  </a>
  <a href="#" class="hp-posts__item mb-8">
    <div class="hp-posts__img">
      <img src="images/content/topstory.png" alt="" loading="lazy" />
    </div>
    <div class="hp-posts__info">
      <ul class="tags">
        <li class="tag tag-grey">preview</li>
        <li class="tag tag-dark">Před 2 hod</li>
      </ul>
      <h3 class="h3">Z Baťova města se vracíme s prázdnou</h3>
    </div>
  </a>
  <a href="#" class="hp-posts__item mb-4">
    <div class="hp-posts__img">
      <img src="images/content/topstory.png" alt="" loading="lazy" />
    </div>
    <div class="hp-posts__info">
      <ul class="tags">
        <li class="tag tag-grey">preview</li>
        <li class="tag tag-dark">Před 2 hod</li>
      </ul>
      <h3 class="h3">Z Baťova města se vracíme s prázdnou</h3>
    </div>
  </a>
  <a href="#" class="tag tag-primary"> Další články </a>
</aside>
