<section class="c-match-section">
  <div class="container">
    <div class="row g-10">
      <div class="col-xl-8">
        <div class="c-article__item">
          <div class="c-article__img">
            <img src="images/content/topstory.png" alt="" loading="lazy" />
          </div>
          <div class="c-article__info">
            <ul class="tags">
              <li class="tag tag-primary">preview</li>
              <li class="tag tag-date">dnes</li>
            </ul>
            <h1 class="h1">
              Budeme lepší ve všech směrech,
              <br />
              dodal kapitán týmu.
            </h1>
          </div>
        </div>
        <div class="wrapper-section">
          <div class="perex mb-0">
            Nejvíc nás trápí málo dorostenců v okresech, říká předseda Kristýn
            Brno – V čele Jihomoravského krajského fotbalového svazu stanul
            Vladimír Kristýn loni v září jako muž, který má zavést nové pořádky.
          </div>
        </div>
        <div class="c-match-section__wrapper">
          <div class="c-match-section__top">
            <div class="row justify-content-center mb-5">
              <div class="col-md-4 col-3">
                <div class="c-match-section__logo">
                  <img src="images/ico/logo.svg" loading="lazy" alt="" />
                </div>
              </div>
              <div class="col-md-4 col-sm-6 col-12">
                <div class="c-match-section__info">
                  <p>1 (O2), ČT 15.9.2022</p>
                  <div class="c-match-section__result win">8:2</div>
                  <div class="h4">7:1, 1:1, 0:0</div>
                </div>
              </div>
              <div class="col-md-4 col-3">
                <div class="c-match-section__logo">
                  <img src="images/content/1.png" loading="lazy" alt="" />
                </div>
              </div>
            </div>
            <h2 class="h3 text-center">
              LHK jestřábi prostějov - Draci šumperk
            </h2>
          </div>
          <p>
            <strong>Branky a nahrávky:</strong> 31. Hlava (Jaks) – 21. Hladonik
            (Rachůnek, Gríger), 61. Mikyska (Černoch, O. Beránek).
          </p>
          <hr />
          <p><strong>Rozhodčí:</strong> Úlehla, Šindel – Špůr, Frodl</p>
          <hr />
          <ul
            class="c-match-section__list row justify-content-between g-lg-10 g-5"
          >
            <li class="col-lg-auto col-sm-3 col-6">
              <span>Vyloučení</span>
              <div class="h2 text-primary">6:7</div>
            </li>
            <li class="col-lg-auto col-sm-3 col-6">
              <span>využití</span>
              <div class="h2 text-primary">1:1</div>
            </li>
            <li class="col-lg-auto col-sm-3 col-6">
              <span>oslabení</span>
              <div class="h2 text-primary">0:0</div>
            </li>
            <li class="col-lg-auto col-sm-3 col-6">
              <span>STŘELY NA BRANKU</span>
              <div class="h2 text-primary">6:7</div>
            </li>
            <li class="col-lg-auto col-sm-3 col-6">
              <span>ZBLOKOVANÉ</span>
              <div class="h2 text-primary">6:7</div>
            </li>
            <li class="col-lg-auto col-sm-3 col-6">
              <span>hity</span>
              <div class="h2 text-primary">6:7</div>
            </li>
            <li class="col-lg-auto col-sm-3 col-6">
              <span>vhazování</span>
              <div class="h2 text-primary">6:7</div>
            </li>
            <li class="col-lg-auto col-sm-3 col-6">
              <span>diváci</span>
              <div class="h2 text-primary">6:7</div>
            </li>
          </ul>
        </div>
        <div class="wrapper-section">
          <p class="mb-8">
            Nejvíc nás trápí málo dorostenců v okresech, říká předseda Kristýn
            Brno – V čele Jihomoravského krajského fotbalového svazu stanul
            Vladimír Kristýn loni v září jako muž, který má zavést nové pořádky.
          </p>
          <div class="row mb-lg-10 mb-5 gx-10">
            <div class="col-12 col-lg-3">
              <img
                class="c-article-section__img"
                src="images/content/topstory.png"
                loading="lazy"
                alt=""
              />
            </div>
            <div class="col-12 col-lg-9">
              <p class="p1">
                Nejvíc nás trápí málo dorostenců v okresech, říká předseda
                Kristýn Brno – V čele Jihomoravského krajského fotbalového svazu
                stanul Vladimír Kristýn loni v září jako muž, který má zavést
                nové pořádky. Po svolání mimořádné valné hromady totiž
                rezignoval dlouholetý předseda Pavel Blaha, jemuž většina
                krajských funkcionářů vyčítala, že v hlasování podpořil českou
                komoru, která získala ve výkonném výboru fotbalové asociace o
                další křeslo navíc. …
              </p>
            </div>
          </div>
          <div class="row mb-lg-10 mb-5 gx-10 flex-lg-row-reverse">
            <div class="col-lg-3 col-12">
              <img
                class="c-article-section__img"
                src="images/content/topstory.png"
                loading="lazy"
                alt=""
              />
            </div>
            <div class="col-lg-9 col-12">
              <p class="p1">
                Nejvíc nás trápí málo dorostenců v okresech, říká předseda
                Kristýn Brno – V čele Jihomoravského krajského fotbalového svazu
                stanul Vladimír Kristýn loni v září jako muž, který má zavést
                nové pořádky. Po svolání mimořádné valné hromady totiž
                rezignoval dlouholetý předseda Pavel Blaha, jemuž většina
                krajských funkcionářů vyčítala, že v hlasování podpořil českou
                komoru, která získala ve výkonném výboru fotbalové asociace o
                další křeslo navíc. …
              </p>
            </div>
          </div>
          <q>
            <h3>Hráčský kádr a vliv financí</h3>
            <p>
              „Nejvíc nás trápí málo dorostenců v okresech, říká předseda
              Kristýn Brno – V čele Jihomoravského krajského fotbalového svazu
              stanul Vladimír Kristýn.“
            </p>
          </q>
          <div
            class="row mb-10 justify-md-content-between justify-content-center g-8"
          >
            <div class="col-md-3">
              <div class="c-article__comment">
                <img src="images/content/g3.png" alt="" />
                <h5 class="h4 text-primary mb-2">Peter Bondra</h5>
                <p>Obránce</p>
              </div>
            </div>
            <div class="col-md-9">
              <p>
                Nejvíc nás trápí málo dorostenců v okresech, říká předseda
                Kristýn Brno – V čele Jihomoravského krajského fotbalového svazu
                stanul Vladimír Kristýn loni v září jako muž, který má zavést
                nové pořádky. Po svolání mimořádné valné hromady totiž
                rezignoval dlouholetý předseda Pavel Blaha, jemuž většina
                krajských funkcionářů vyčítala, že v hlasování podpořil českou
                komoru, která získala ve výkonném výboru fotbalové asociace o
                další křeslo navíc. …
              </p>
            </div>
          </div>
          <div
            class="row mb-10 justify-md-content-between justify-content-center g-8 flex-md-row-reverse"
          >
            <div class="col-md-3">
              <div class="c-article__comment">
                <img src="images/content/g3.png" alt="" />
                <h5 class="h4 text-primary mb-2">Peter Bondra</h5>
                <p>Obránce</p>
              </div>
            </div>
            <div class="col-md-9">
              <p>
                Nejvíc nás trápí málo dorostenců v okresech, říká předseda
                Kristýn Brno – V čele Jihomoravského krajského fotbalového svazu
                stanul Vladimír Kristýn loni v září jako muž, který má zavést
                nové pořádky. Po svolání mimořádné valné hromady totiž
                rezignoval dlouholetý předseda Pavel Blaha, jemuž většina
                krajských funkcionářů vyčítala, že v hlasování podpořil českou
                komoru, která získala ve výkonném výboru fotbalové asociace o
                další křeslo navíc. …
              </p>
            </div>
          </div>
          {% include "@components/gallery/gallery.twig" %}
        </div>
      </div>
      <div class="col-xl-4 d-xl-block d-none">
        {% include "@components/aside/aside-match.twig" %}
      </div>
    </div>
  </div>
</section>
