.header-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 16px;
  &__link {
    margin-bottom: 16px;
    margin-right: 24px;
    text-decoration-color: inherit;
    position: relative;
    &:hover {
      text-decoration-color: transparent;
    }
  }
  &__box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    @include media-breakpoint-down(lg) {
      width: 100%;
      justify-content: space-between;
    }
  }
  &__form {
    @include media-breakpoint-down(sm) {
      max-width: 100%;
      width: 100%;
    }
  }
  @include media-breakpoint-down(lg) {
    justify-self: start;
  }
  &__label,
  .h4 {
    margin-bottom: 16px;
    @include media-breakpoint-down(lg) {
      width: 100%;
    }
  }
}

.header-section__row {
  padding-bottom: 40px;
  border-bottom: 1px solid var(--color-grey);
  margin-bottom: 40px;
  .header-section__form {
    width: 100%;
    display: block;
    .row {
      margin-left: -10px;
      margin-right: -10px;
    }
  }
  .header-section__label {
    width: 100%;
  }
  .header-section__input {
    input {
      width: 100%;
      padding: 0.0625rem 2.375rem 0.125rem 1.5rem;
    }
  }
  .btn {
    padding: 0 10px;
    transition: all 0.3s;
    border: none;
    background-color: var(--color-dark);
    color: var(--color-light);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 33px;
    border-radius: 0;
    margin-top: 0;
    @include media-breakpoint-down(sm) {
      margin-top: 16px;
    }
    &:hover {
      color: var(--color-red);
    }
  }
}
