<ul class="social">
  <li class="social__item">
    <a target="_blank" class="social__link" href="#">
      {% include "@images/facebook-f.svg" %}
    </a>
  </li>
  <li class="social__item">
    <a target="_blank" class="social__link" href="#">
      {% include "@images/twitter-f.svg" %}
    </a>
  </li>
  <li class="social__item">
    <a target="_blank" class="social__link" href="#">
      {% include "@images/instagram-f.svg" %}
    </a>
  </li>
  <li class="social__item">
    <a target="_blank" class="social__link" href="#">
      {% include "@images/youtube-f.svg" %}
    </a>
  </li>
</ul>
