<section class="hp-board-section">
  <div class="container">
    <div class="row gx-5 gy-10">
      <div class="col-xl-3 col-lg-5 mx-auto">
        <h4 class="h2 mb-6 text-uppercase text-primary">aktuality</h4>
        <div class="hp-board__news">
          <div class="tag tag-dark mb-5">Před 2 hod</div>
          <h5 class="h3">U týmu končí Vítek Benda.</h5>
          <p class="p2">
            S naším týmem se rozloučil obránce Vítek Benda, kterému děkujeme za
            odvedenou práci a přejeme hodně štěstí v novém týmu.
          </p>
        </div>
        <div class="hp-board__news">
          <div class="tag tag-dark mb-5">Před 2 hod</div>
          <h5 class="h3">Daniel Malák uvolněn do Plzně!.</h5>
          <p class="p2">
            Obránce Dan Malák dostává šanci v extralize a odcestoval tak na 3
            dny do HC Škoda Plzeň, kde by měl stihnout dva zápasy.
          </p>
        </div>
        <div class="hp-board__news">
          <div class="tag tag-dark mb-5">Před 2 hod</div>
          <h5 class="h3">U týmu končí Vítek Benda.</h5>
          <p class="p2">
            V sobotním utkání proti Slavii dostal trest 5 + do konce zápasu za
            faul kolenem. Po posouzení komisí ještě dodatečně dostává na 3
            zápasy stopku. Nastoupit tak bude moci opět ve středu 7. 12. v
            Kolíně.
          </p>
        </div>
        <div class="hp-board__news">
          <div class="tag tag-dark mb-5">Před 2 hod</div>
          <h5 class="h3">U týmu končí Vítek Benda.</h5>
          <p class="p2">
            Letos u nás odstartoval svoji druhou sezónu, ale tu již dohraje v
            Kolíně, kam se přesouvá do konce sezóny. Pepovi děkujeme za
            odvedenou práci a přejeme jen to nejlepší v Kolíně!
          </p>
        </div>
      </div>
      <div class="col-xl-5 col-lg-7 mx-auto">
        <h4 class="h2 mb-5 text-uppercase text-primary">tabulka chance ligy</h4>
        <div class="hp-board-section__table">
          <table>
            <thead>
              <tr>
                <th>P</th>
                <th class="team">Tým</th>
                <th>Z</th>
                <th>Skóre</th>
                <th>B</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>99.</td>
                <td class="team">
                  <a href="#">
                    <img src="images/content/1.png" loading="lazy" alt="logo" />
                    OLO
                  </a>
                </td>
                <td>12</td>
                <td>32:18</td>
                <td>29</td>
              </tr>
              <tr class="prostejov">
                <td>1.</td>
                <td class="team">
                  <a href="#">
                    <img src="images/content/2.png" loading="lazy" alt="logo" />
                    OLO
                  </a>
                </td>
                <td>12</td>
                <td>32:18</td>
                <td>29</td>
              </tr>

              <tr>
                <td>1.</td>
                <td class="team">
                  <a href="#">
                    <img src="images/ico/logo.svg" loading="lazy" alt="logo" />
                    OLO
                  </a>
                </td>
                <td>12</td>
                <td>32:18</td>
                <td>29</td>
              </tr>
              <tr>
                <td>1.</td>
                <td class="team">
                  <a href="#">
                    <img src="images/ico/logo.svg" loading="lazy" alt="logo" />
                    OLO
                  </a>
                </td>
                <td>12</td>
                <td>32:18</td>
                <td>29</td>
              </tr>
              <tr>
                <td>1.</td>
                <td class="team">
                  <a href="#">
                    <img src="images/ico/logo.svg" loading="lazy" alt="logo" />
                    OLO
                  </a>
                </td>
                <td>12</td>
                <td>32:18</td>
                <td>29</td>
              </tr>
              <tr>
                <td>1.</td>
                <td class="team">
                  <a href="#">
                    <img src="images/ico/logo.svg" loading="lazy" alt="logo" />
                    OLO
                  </a>
                </td>
                <td>12</td>
                <td>32:18</td>
                <td>29</td>
              </tr>
              <tr>
                <td>1.</td>
                <td class="team">
                  <a href="#">
                    <img src="images/ico/logo.svg" loading="lazy" alt="logo" />
                    OLO
                  </a>
                </td>
                <td>12</td>
                <td>32:18</td>
                <td>29</td>
              </tr>
              <tr>
                <td>1.</td>
                <td class="team">
                  <a href="#">
                    <img src="images/ico/logo.svg" loading="lazy" alt="logo" />
                    OLO
                  </a>
                </td>
                <td>12</td>
                <td>32:18</td>
                <td>29</td>
              </tr>
              <tr>
                <td>1.</td>
                <td class="team">
                  <a href="#">
                    <img src="images/ico/logo.svg" loading="lazy" alt="logo" />
                    OLO
                  </a>
                </td>
                <td>12</td>
                <td>32:18</td>
                <td>29</td>
              </tr>
              <tr>
                <td>1.</td>
                <td class="team">
                  <a href="#">
                    <img src="images/ico/logo.svg" loading="lazy" alt="logo" />
                    OLO
                  </a>
                </td>
                <td>12</td>
                <td>32:18</td>
                <td>29</td>
              </tr>
              <tr>
                <td>1.</td>
                <td class="team">
                  <a href="#">
                    <img src="images/ico/logo.svg" loading="lazy" alt="logo" />
                    OLO
                  </a>
                </td>
                <td>12</td>
                <td>32:18</td>
                <td>29</td>
              </tr>
              <tr>
                <td>1.</td>
                <td class="team">
                  <a href="#">
                    <img src="images/ico/logo.svg" loading="lazy" alt="logo" />
                    OLO
                  </a>
                </td>
                <td>12</td>
                <td>32:18</td>
                <td>29</td>
              </tr>
              <tr>
                <td>1.</td>
                <td class="team">
                  <a href="#">
                    <img src="images/ico/logo.svg" loading="lazy" alt="logo" />
                    OLO
                  </a>
                </td>
                <td>12</td>
                <td>32:18</td>
                <td>29</td>
              </tr>
              <tr>
                <td>1.</td>
                <td class="team">
                  <a href="#">
                    <img src="images/ico/logo.svg" loading="lazy" alt="logo" />
                    OLO
                  </a>
                </td>
                <td>12</td>
                <td>32:18</td>
                <td>29</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-lg-4 col-md-10 mx-auto align-items-center d-flex">
        <div class="hp-board-section__pub">
          <img src="images/content/pab.png" loading="lazy" alt="pab" />
        </div>
      </div>
    </div>
  </div>
</section>
