<section class="c-partners-section">
  <div class="container">
    <h1 class="h1">partneři klubu</h1>
    <div class="c-partners-section__wrapper">
      <div class="c-partners-section__box">
        <h2 class="c-partners-section__title text-decore">generální partner</h2>
        <a href="#" class="c-partners-section__main">
          <img
            class=""
            src="https://via.placeholder.com/500x221"
            loading="lazy"
            alt=""
          />
        </a>
      </div>
      <div class="c-partners-section__box">
        <h3 class="c-partners-section__title text-decore">Hlavní partneři</h3>
        <div class="c-partners-section__row">
          <div class="c-partners-section__col">
            <a href="#" class="c-partners-section__item">
              <img
                class=""
                src="https://via.placeholder.com/200x200"
                loading="lazy"
                alt=""
              />
            </a>
          </div>
          <div class="c-partners-section__col">
            <a href="#" class="c-partners-section__item">
              <img
                class=""
                src="https://via.placeholder.com/200x200"
                loading="lazy"
                alt=""
              />
            </a>
          </div>
          <div class="c-partners-section__col">
            <a href="#" class="c-partners-section__item">
              <img
                class=""
                src="https://via.placeholder.com/200x200"
                loading="lazy"
                alt=""
              />
            </a>
          </div>
          <div class="c-partners-section__col">
            <a href="#" class="c-partners-section__item">
              <img
                class=""
                src="https://via.placeholder.com/200x200"
                loading="lazy"
                alt=""
              />
            </a>
          </div>
          <div class="c-partners-section__col">
            <a href="#" class="c-partners-section__item">
              <img
                class=""
                src="https://via.placeholder.com/200x200"
                loading="lazy"
                alt=""
              />
            </a>
          </div>
        </div>
      </div>
      <div class="c-partners-section__box">
        <h4 class="c-partners-section__title text-decore">gold partner</h4>
        <div class="c-partners-section__row">
          <div class="c-partners-section__col">
            <a href="#" class="c-partners-section__item">
              <img
                class=""
                src="https://via.placeholder.com/200x200"
                loading="lazy"
                alt=""
              />
            </a>
          </div>
          <div class="c-partners-section__col">
            <a href="#" class="c-partners-section__item">
              <img
                class=""
                src="https://via.placeholder.com/200x200"
                loading="lazy"
                alt=""
              />
            </a>
          </div>
          <div class="c-partners-section__col">
            <a href="#" class="c-partners-section__item">
              <img
                class=""
                src="https://via.placeholder.com/200x200"
                loading="lazy"
                alt=""
              />
            </a>
          </div>
          <div class="c-partners-section__col">
            <a href="#" class="c-partners-section__item">
              <img
                class=""
                src="https://via.placeholder.com/200x200"
                loading="lazy"
                alt=""
              />
            </a>
          </div>
          <div class="c-partners-section__col">
            <a href="#" class="c-partners-section__item">
              <img
                class=""
                src="https://via.placeholder.com/200x200"
                loading="lazy"
                alt=""
              />
            </a>
          </div>
        </div>
      </div>
      <div class="c-partners-section__box">
        <h5 class="c-partners-section__title text-decore">silver partner</h5>
        <div class="c-partners-section__row">
          <div class="c-partners-section__col">
            <a href="#" class="c-partners-section__item">
              <img
                class=""
                src="https://via.placeholder.com/200x200"
                loading="lazy"
                alt=""
              />
            </a>
          </div>
          <div class="c-partners-section__col">
            <a href="#" class="c-partners-section__item">
              <img
                class=""
                src="https://via.placeholder.com/200x200"
                loading="lazy"
                alt=""
              />
            </a>
          </div>
          <div class="c-partners-section__col">
            <a href="#" class="c-partners-section__item">
              <img
                class=""
                src="https://via.placeholder.com/200x200"
                loading="lazy"
                alt=""
              />
            </a>
          </div>
          <div class="c-partners-section__col">
            <a href="#" class="c-partners-section__item">
              <img
                class=""
                src="https://via.placeholder.com/200x200"
                loading="lazy"
                alt=""
              />
            </a>
          </div>
          <div class="c-partners-section__col">
            <a href="#" class="c-partners-section__item">
              <img
                class=""
                src="https://via.placeholder.com/200x200"
                loading="lazy"
                alt=""
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
