<section class="c-partners-section">
  <div class="container">
    <div class="menu-section">
      <div class="menu-section__inner">
        <h1 class="h1">partneři klubu</h1>
      </div>
    </div>
    <div class="c-partners-section__wrapper">
      <div class="c-partners-section__box">
        <h2 class="c-partners-section__title">generální partner</h2>
        <a href="#" class="c-partners-section__main" target="_blank">
          <img
            class=""
            src="https://via.placeholder.com/500x221"
            loading="lazy"
            alt=""
          />
        </a>
      </div>
      <div class="c-partners-section__box">
        <h3 class="c-partners-section__title">Hlavní partneři</h3>
        <div class="c-partners-section__row">
          <div class="c-partners-section__col">
            <a href="#" class="c-partners-section__item" target="_blank">
              <img
                class=""
                src="https://via.placeholder.com/200x200"
                loading="lazy"
                alt=""
              />
            </a>
          </div>
          <div class="c-partners-section__col">
            <a href="#" class="c-partners-section__item" target="_blank">
              <img
                class=""
                src="https://via.placeholder.com/200x200"
                loading="lazy"
                alt=""
              />
            </a>
          </div>
          <div class="c-partners-section__col">
            <a href="#" class="c-partners-section__item" target="_blank">
              <img
                class=""
                src="https://via.placeholder.com/200x200"
                loading="lazy"
                alt=""
              />
            </a>
          </div>
          <div class="c-partners-section__col">
            <a href="#" class="c-partners-section__item" target="_blank">
              <img
                class=""
                src="https://via.placeholder.com/200x200"
                loading="lazy"
                alt=""
              />
            </a>
          </div>
          <div class="c-partners-section__col">
            <a href="#" class="c-partners-section__item" target="_blank">
              <img
                class=""
                src="https://via.placeholder.com/200x200"
                loading="lazy"
                alt=""
              />
            </a>
          </div>
        </div>
      </div>
      <div class="c-partners-section__box">
        <h4 class="c-partners-section__title">gold partner</h4>
        <div class="c-partners-section__row">
          <div class="c-partners-section__col">
            <a href="#" class="c-partners-section__item" target="_blank">
              <img
                class=""
                src="https://via.placeholder.com/200x200"
                loading="lazy"
                alt=""
              />
            </a>
          </div>
          <div class="c-partners-section__col">
            <a href="#" class="c-partners-section__item" target="_blank">
              <img
                class=""
                src="https://via.placeholder.com/200x200"
                loading="lazy"
                alt=""
              />
            </a>
          </div>
          <div class="c-partners-section__col">
            <a href="#" class="c-partners-section__item" target="_blank">
              <img
                class=""
                src="https://via.placeholder.com/200x200"
                loading="lazy"
                alt=""
              />
            </a>
          </div>
          <div class="c-partners-section__col">
            <a href="#" class="c-partners-section__item" target="_blank">
              <img
                class=""
                src="https://via.placeholder.com/200x200"
                loading="lazy"
                alt=""
              />
            </a>
          </div>
          <div class="c-partners-section__col">
            <a href="#" class="c-partners-section__item" target="_blank">
              <img
                class=""
                src="https://via.placeholder.com/200x200"
                loading="lazy"
                alt=""
              />
            </a>
          </div>
        </div>
      </div>
      <div class="c-partners-section__box">
        <h5 class="c-partners-section__title">silver partner</h5>
        <div class="c-partners-section__row">
          <div class="c-partners-section__col">
            <a href="#" class="c-partners-section__item" target="_blank">
              <img
                class=""
                src="https://via.placeholder.com/200x200"
                loading="lazy"
                alt=""
              />
            </a>
          </div>
          <div class="c-partners-section__col">
            <a href="#" class="c-partners-section__item" target="_blank">
              <img
                class=""
                src="https://via.placeholder.com/200x200"
                loading="lazy"
                alt=""
              />
            </a>
          </div>
          <div class="c-partners-section__col">
            <a href="#" class="c-partners-section__item" target="_blank">
              <img
                class=""
                src="https://via.placeholder.com/200x200"
                loading="lazy"
                alt=""
              />
            </a>
          </div>
          <div class="c-partners-section__col">
            <a href="#" class="c-partners-section__item" target="_blank">
              <img
                class=""
                src="https://via.placeholder.com/200x200"
                loading="lazy"
                alt=""
              />
            </a>
          </div>
          <div class="c-partners-section__col">
            <a href="#" class="c-partners-section__item" target="_blank">
              <img
                class=""
                src="https://via.placeholder.com/200x200"
                loading="lazy"
                alt=""
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
