<section class="hp-statistics">
  <div class="container">
    <ul class="hp-statistics__inner">
      <li class="hp-statistics__col">
        <div class="hp-statistics__item">
          <div class="hp-statistics__title text-decore">střelec</div>
          <div class="hp-statistics__img">
            <img src="images/content/hrac.png" loading="lazy" alt="" />
          </div>
          <a href="#" class="h2"><span>DAVID</span> OSTŘÍŽEK</a>
          <div class="tag tag-dark">16 BRANEK</div>
        </div>
      </li>
      <li class="hp-statistics__col">
        <div class="hp-statistics__item">
          <div class="hp-statistics__title text-decore">nahrávač</div>
          <div class="hp-statistics__img">
            <img src="images/content/hrac.png" loading="lazy" alt="" />
          </div>
          <a href="#" class="h2"><span>TOMÁŠ </span>JÁCHYM</a>
          <div class="tag tag-dark">23 PŘIHRÁVEK</div>
        </div>
      </li>
      <li class="hp-statistics__col">
        <div class="hp-statistics__item">
          <div class="hp-statistics__title text-decore">lídr</div>
          <div class="hp-statistics__img">
            <img src="images/content/hrac.png" loading="lazy" alt="" />
          </div>
          <a href="#" class="h2"><span>TOMÁŠ </span>JÁCHYM</a>
          <div class="tag tag-dark">29 BODŮ</div>
        </div>
      </li>
      <li class="hp-statistics__col">
        <div class="hp-statistics__item">
          <div class="hp-statistics__title text-decore">OPORA</div>
          <div class="hp-statistics__img">
            <img src="images/content/hrac.png" loading="lazy" alt="" />
          </div>
          <a href="#" class="h2"><span>VILÉM </span>BURIAN</a>
          <div class="tag tag-dark">38 ZÁPASŮ</div>
        </div>
      </li>
      <li class="hp-statistics__col">
        <div class="hp-statistics__item">
          <div class="hp-statistics__title text-decore">STĚNA</div>
          <div class="hp-statistics__img">
            <img src="images/content/hrac.png" loading="lazy" alt="" />
          </div>
          <a href="#" class="h2"><span>JAN </span>PŘECECHTĚL</a>
          <div class="tag tag-dark">100% ÚSPĚŠNOST</div>
        </div>
      </li>
    </ul>
  </div>
</section>
