<section class="statistics-section mb-10">
  <div class="container">
    <div class="row g-10">
      <div class="col-xl-8">
        <div class="menu-section">
          <div class="menu-section__inner">
            <h1 class="h1">Tabulka 2022/2023</h1>
            <form action="" class="menu-section__form ms-auto">
              <label class="o-select menu-section__label">
                <select class="js-select">
                  <option>Soupiska 2022/2023</option>
                  <option value="tipsport">2020/21</option>
                  <option value="tipsport">2019/20</option>
                  <option value="tipsport">2018/19</option>
                  <option value="tipsport">2017/18</option>
                </select>
              </label>
            </form>
          </div>
        </div>

        <div class="o-content mt-8">
          <table>
            <thead>
              <tr>
                <th>P.</th>
                <th>Tým</th>
                <th>Z</th>
                <th>V</th>
                <th>R</th>
                <th>P</th>
                <th>B</th>
                <th>Skóre</th>
                <th>RG</th>
                <th>+/-</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1.</td>
                <td>FC Zbrojovka Brno</td>
                <td>27</td>
                <td>13</td>
                <td>18</td>
                <td>20</td>
                <td>13</td>
                <td>56:24</td>
                <td>32</td>
                <td>26</td>
              </tr>
              <tr>
                <td>3.</td>
                <td>FC Zbrojovka Brno</td>
                <td>27</td>
                <td>13</td>
                <td>18</td>
                <td>20</td>
                <td>13</td>
                <td>56:24</td>
                <td>32</td>
                <td>26</td>
              </tr>
              <tr>
                <td>4.</td>
                <td>FC Zbrojovka Brno Zbrojovka Brno</td>
                <td>27</td>
                <td>13</td>
                <td>18</td>
                <td>20</td>
                <td>13</td>
                <td>56:24</td>
                <td>32</td>
                <td>26</td>
              </tr>
              <tr class="olo">
                <td>2.</td>
                <td>HC Olomouc</td>
                <td>27</td>
                <td>13</td>
                <td>18</td>
                <td>20</td>
                <td>13</td>
                <td>56:24</td>
                <td>32</td>
                <td>26</td>
              </tr>
              <tr>
                <td>1.</td>
                <td>FC Zbrojovka Brno</td>
                <td>27</td>
                <td>13</td>
                <td>18</td>
                <td>20</td>
                <td>13</td>
                <td>56:24</td>
                <td>32</td>
                <td>26</td>
              </tr>
              <tr>
                <td>33.</td>
                <td>FC Zbrojovka Brno</td>
                <td>27</td>
                <td>13</td>
                <td>18</td>
                <td>20</td>
                <td>13</td>
                <td>56:24</td>
                <td>32</td>
                <td>26</td>
              </tr>
              <tr>
                <td>9.</td>
                <td>FC Zbrojovka Brno</td>
                <td>27</td>
                <td>13</td>
                <td>18</td>
                <td>20</td>
                <td>13</td>
                <td>56:24</td>
                <td>32</td>
                <td>26</td>
              </tr>
              <tr>
                <td>1.</td>
                <td>FC bbZbrojovka Brno</td>
                <td>27</td>
                <td>13</td>
                <td>18</td>
                <td>20</td>
                <td>13</td>
                <td>56:24</td>
                <td>32</td>
                <td>26</td>
              </tr>
              <tr>
                <td>1.</td>
                <td>FC aaZbrojovka Brno</td>
                <td>27</td>
                <td>13</td>
                <td>18</td>
                <td>20</td>
                <td>13</td>
                <td>56:24</td>
                <td>32</td>
                <td>26</td>
              </tr>
              <tr>
                <td>1.</td>
                <td>FC Zbrojovka Brno</td>
                <td>27</td>
                <td>13</td>
                <td>18</td>
                <td>20</td>
                <td>13</td>
                <td>56:24</td>
                <td>32</td>
                <td>26</td>
              </tr>
              <tr>
                <td>1.</td>
                <td>FC Zbrojovka Brno</td>
                <td>27</td>
                <td>13</td>
                <td>18</td>
                <td>20</td>
                <td>13</td>
                <td>56:24</td>
                <td>32</td>
                <td>26</td>
              </tr>
              <tr>
                <td>1.</td>
                <td>FC Zbrojovka Brno</td>
                <td>27</td>
                <td>13</td>
                <td>18</td>
                <td>20</td>
                <td>13</td>
                <td>56:24</td>
                <td>32</td>
                <td>26</td>
              </tr>
              <tr>
                <td>1.</td>
                <td>FC Zbrojovka Brno</td>
                <td>27</td>
                <td>13</td>
                <td>18</td>
                <td>20</td>
                <td>13</td>
                <td>56:24</td>
                <td>32</td>
                <td>26</td>
              </tr>
              <tr>
                <td>1.</td>
                <td>FC Zbrojovka Brno</td>
                <td>27</td>
                <td>13</td>
                <td>18</td>
                <td>20</td>
                <td>13</td>
                <td>56:24</td>
                <td>32</td>
                <td>26</td>
              </tr>
              <tr>
                <td>1.</td>
                <td>FC Zbrojovka Brno</td>
                <td>27</td>
                <td>13</td>
                <td>18</td>
                <td>20</td>
                <td>13</td>
                <td>56:24</td>
                <td>32</td>
                <td>26</td>
              </tr>
              <tr>
                <td>1.</td>
                <td>FC Zbrojovka Brno</td>
                <td>27</td>
                <td>13</td>
                <td>18</td>
                <td>20</td>
                <td>13</td>
                <td>56:24</td>
                <td>32</td>
                <td>26</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-xl-4 d-xl-block d-none">
        {% include "@components/aside/aside-match.twig" %}
      </div>
    </div>
  </div>
</section>
