<div class="gallery">
  <h3 class="text-primary mb-5 h3">39. kolo topliga</h3>
  <a class="gallery__main" href="#" data-gallery="1" data-gallery-id="1">
    <img src="images/content/g1.png" alt="" />
    <p>39. kolo Topligy (Foto: Josef Poláček)</p>
  </a>
  <div class="row g-lg-10 g-5 gallery__inner">
    <div class="col-lg-2 col-sm-4 col-6">
      <a href="#" data-gallery="1" data-gallery-id="1">
        <img src="images/content/g2.png" alt="" />
      </a>
    </div>
    <div class="col-lg-2 col-sm-4 col-6">
      <a href="#" data-gallery="1" data-gallery-id="1">
        <img src="images/content/g3.png" alt="" />
      </a>
    </div>
    <div class="col-lg-2 col-sm-4 col-6">
      <a href="#" data-gallery="1" data-gallery-id="1">
        <img src="images/content/g1.png" alt="" />
      </a>
    </div>
    <div class="col-lg-2 col-sm-4 col-6">
      <a href="#" data-gallery="1" data-gallery-id="1">
        <img src="images/content/g1.png" alt="" />
      </a>
    </div>
    <div class="col-lg-2 col-sm-4 col-6">
      <a href="#" data-gallery="1" data-gallery-id="1">
        <img src="images/content/g1.png" alt="" />
      </a>
    </div>
    <div class="col-lg-2 col-sm-4 col-6">
      <a href="#" data-gallery="1" data-gallery-id="1">
        <img src="images/content/g1.png" alt="" />
      </a>
    </div>
  </div>
</div>
