<div class="partners">
  <div class="container">
    <div class="row justify-content-center align-items-center partners-slider">
      <div class="col-12 col-md-3 text-center">
        <a class="partners__item" href="#">
          <img src="images/content/partner-1.png" loading="lazy" alt="" />
        </a>
      </div>
      <div class="col-12 col-md-3 text-center">
        <a class="partners__item" href="#">
          <img src="images/content/partner-2.png" loading="lazy" alt="" />
        </a>
      </div>
      <div class="col-12 col-md-3 text-center">
        <a class="partners__item" href="#">
          <img src="images/content/partner-3.png" loading="lazy" alt="" />
        </a>
      </div>
      <div class="col-12 col-md-3 text-center">
        <a class="partners__item" href="#">
          <img src="images/content/partner-4.png" loading="lazy" alt="" />
        </a>
      </div>
      <div class="col-12 col-md-3 text-center">
        <a class="partners__item" href="#">
          <img src="images/content/partner-5.png" loading="lazy" alt="" />
        </a>
      </div>
      <div class="col-12 col-md-3 text-center">
        <a class="partners__item" href="#">
          <img src="images/content/partner-6.png" loading="lazy" alt="" />
        </a>
      </div>
      <div class="col-12 col-md-3 text-center">
        <a class="partners__item" href="#">
          <img src="images/content/partner-1.png" loading="lazy" alt="" />
        </a>
      </div>
      <div class="col-12 col-md-3 text-center">
        <a class="partners__item" href="#">
          <img src="images/content/partner-2.png" loading="lazy" alt="" />
        </a>
      </div>
      <div class="col-12 col-md-3 text-center">
        <a class="partners__item" href="#">
          <img src="images/content/partner-3.png" loading="lazy" alt="" />
        </a>
      </div>
      <div class="col-12 col-md-3 text-center">
        <a class="partners__item" href="#">
          <img src="images/content/partner-4.png" loading="lazy" alt="" />
        </a>
      </div>
      <div class="col-12 col-md-3 text-center">
        <a class="partners__item" href="#">
          <img src="images/content/partner-5.png" loading="lazy" alt="" />
        </a>
      </div>
      <div class="col-12 col-md-3 text-center">
        <a class="partners__item" href="#">
          <img src="images/content/partner-6.png" loading="lazy" alt="" />
        </a>
      </div>
      <div class="col-12 col-md-3 text-center">
        <a class="partners__item" href="#">
          <img src="images/content/partner-1.png" loading="lazy" alt="" />
        </a>
      </div>
      <div class="col-12 col-md-3 text-center">
        <a class="partners__item" href="#">
          <img src="images/content/partner-2.png" loading="lazy" alt="" />
        </a>
      </div>
      <div class="col-12 col-md-3 text-center">
        <a class="partners__item" href="#">
          <img src="images/content/partner-3.png" loading="lazy" alt="" />
        </a>
      </div>
      <div class="col-12 col-md-3 text-center">
        <a class="partners__item" href="#">
          <img src="images/content/partner-4.png" loading="lazy" alt="" />
        </a>
      </div>
      <div class="col-12 col-md-3 text-center">
        <a class="partners__item" href="#">
          <img src="images/content/partner-5.png" loading="lazy" alt="" />
        </a>
      </div>
      <div class="col-12 col-md-3 text-center">
        <a class="partners__item" href="#">
          <img src="images/content/partner-6.png" loading="lazy" alt="" />
        </a>
      </div>
      <div class="col-12 col-md-3 text-center">
        <a class="partners__item" href="#">
          <img src="images/content/partner-1.png" loading="lazy" alt="" />
        </a>
      </div>
      <div class="col-12 col-md-3 text-center">
        <a class="partners__item" href="#">
          <img src="images/content/partner-2.png" loading="lazy" alt="" />
        </a>
      </div>
      <div class="col-12 col-md-3 text-center">
        <a class="partners__item" href="#">
          <img src="images/content/partner-3.png" loading="lazy" alt="" />
        </a>
      </div>
      <div class="col-12 col-md-3 text-center">
        <a class="partners__item" href="#">
          <img src="images/content/partner-4.png" loading="lazy" alt="" />
        </a>
      </div>
      <div class="col-12 col-md-3 text-center">
        <a class="partners__item" href="#">
          <img src="images/content/partner-5.png" loading="lazy" alt="" />
        </a>
      </div>
      <div class="col-12 col-md-3 text-center">
        <a class="partners__item" href="#">
          <img src="images/content/partner-6.png" loading="lazy" alt="" />
        </a>
      </div>
    </div>
  </div>
</div>
