.partners {
  padding-top: 68px;
  padding-bottom: 70px;
  .container {
    max-width: 1920px;
  }
  .slick-arrow {
    display: none;
  }
  &__item {
    img {
      max-height: 80px;
      max-width: 100%;
      margin: 0 auto;
    }
  }
}
