<section class="c-matches-section">
  <div class="container">
    <div class="c-matches-section__top">
      <h1>nejbližší zápas</h1>
      <div class="row m-0 p-3 align-items-center c-matches-section__item">
        <div
          class="col-5 col-lg-3 col-xl-auto mb-4 mb-xl-0 text-left text-md-center c-matches-section__logos"
        >
          <img src="images/ico/logo.svg" loading="lazy" alt="" />
          <img src="images/content/1.png" loading="lazy" alt="" />
        </div>
        <div class="col-lg-4 col-xl mb-4 mb-xl-0 c-matches-section__teams">
          <ul class="tags">
            <li class="tag tag-primary">Čtvrtek 13.2.</li>
            <li class="tag tag-dark">za 4 hod</li>
          </ul>
          <h3>LHK jestřábi prostějov - hc slavia praha</h3>
        </div>
        <div class="col-1 mb-4 mb-xl-0 text-center c-matches-section__score">
          17:30
        </div>
        <div
          class="col-12 col-md col-xl-3 text-center mb-4 mb-lg-0 text-xl-left"
        >
          <ul class="c-matches-section__links">
            <li>
              <a target="_blank" class="tag tag-grey" href="#">onlajn</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <h2 class="h1">rozpis všech zápasů</h2>
    <div class="c-matches-section__filtr">
      <h3 class="h4">zobrazit:</h3>
      <ul>
        <li>
          <a href="#">Pouze doma</a>
        </li>
        <li>
          <a href="#">Pouze venku</a>
        </li>
        <li>
          <a href="#" class="active">vše</a>
        </li>
      </ul>
      <select class="js-select">
        <option>Zápasy 2022/2023</option>
        <option value="tipsport">2020/21</option>
        <option value="tipsport">2019/20</option>
        <option value="tipsport">2018/19</option>
        <option value="tipsport">2017/18</option>
      </select>
    </div>
    <div class="row m-0 p-3 align-items-center c-matches-section__item">
      <div
        class="col-5 col-lg-3 col-xl-auto mb-4 mb-xl-0 text-left text-md-center c-matches-section__logos"
      >
        <img src="images/ico/logo.svg" loading="lazy" alt="" />
        <img src="images/content/1.png" loading="lazy" alt="" />
      </div>
      <div class="col-lg-4 col-xl mb-4 mb-xl-0 c-matches-section__teams">
        <p>5. srpna 2021</p>
        <h3>SC Marimex Kolín - HC Slavia Praha</h3>
      </div>
      <div class="col-1 mb-4 mb-xl-0 text-center c-matches-section__score win">
        3:1
      </div>
      <div class="col-12 col-md col-xl-3 text-center mb-4 mb-lg-0 text-xl-left">
        <ul class="c-matches-section__links">
          <li>
            <a class="tag tag-grey" href="#">fotky</a>
          </li>
          <li>
            <a class="tag tag-grey" href="#">report</a>
          </li>
          <li>
            <a target="_blank" class="tag tag-grey" href="#">onlajn</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row m-0 p-3 align-items-center c-matches-section__item">
      <div
        class="col-5 col-lg-3 col-xl-auto mb-4 mb-xl-0 text-left text-md-center c-matches-section__logos"
      >
        <img src="images/ico/logo.svg" loading="lazy" alt="" />
        <img src="images/content/1.png" loading="lazy" alt="" />
      </div>
      <div class="col-lg-4 col-xl mb-4 mb-xl-0 c-matches-section__teams">
        <p>5. srpna 2021</p>
        <h3>SC Marimex Kolín - HC Slavia Praha</h3>
      </div>
      <div class="col-1 mb-4 mb-xl-0 text-center c-matches-section__score lose">
        0:5
      </div>
      <div class="col-12 col-md col-xl-3 text-center mb-4 mb-lg-0 text-xl-left">
        <ul class="c-matches-section__links">
          <li>
            <a class="tag tag-grey" href="#">fotky</a>
          </li>
          <li>
            <a class="tag tag-grey" href="#">report</a>
          </li>
          <li>
            <a target="_blank" class="tag tag-grey" href="#">onlajn</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row m-0 p-3 align-items-center c-matches-section__item">
      <div
        class="col-5 col-lg-3 col-xl-auto mb-4 mb-xl-0 text-left text-md-center c-matches-section__logos"
      >
        <img src="images/ico/logo.svg" loading="lazy" alt="" />
        <img src="images/content/1.png" loading="lazy" alt="" />
      </div>
      <div class="col-lg-4 col-xl mb-4 mb-xl-0 c-matches-section__teams">
        <p>5. srpna 2021</p>
        <h3>SC Marimex Kolín - HC Slavia Praha</h3>
      </div>
      <div class="col-1 mb-4 mb-xl-0 text-center c-matches-section__score">
        18:00
      </div>
      <div class="col-12 col-md col-xl-3 text-center mb-4 mb-lg-0 text-xl-left">
        <ul class="c-matches-section__links">
          <li>
            <a target="_blank" class="tag tag-grey" href="#">onlajn</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row m-0 p-3 align-items-center c-matches-section__item">
      <div
        class="col-5 col-lg-3 col-xl-auto mb-4 mb-xl-0 text-left text-md-center c-matches-section__logos"
      >
        <img src="images/ico/logo.svg" loading="lazy" alt="" />
        <img src="images/content/1.png" loading="lazy" alt="" />
      </div>
      <div class="col-lg-4 col-xl mb-4 mb-xl-0 c-matches-section__teams">
        <p>5. srpna 2021</p>
        <h3>SC Marimex Kolín - HC Slavia Praha</h3>
      </div>
      <div class="col-1 mb-4 mb-xl-0 text-center c-matches-section__score win">
        3:1
      </div>
      <div class="col-12 col-md col-xl-3 text-center mb-4 mb-lg-0 text-xl-left">
        <ul class="c-matches-section__links">
          <li>
            <a class="tag tag-grey" href="#">fotky</a>
          </li>
          <li>
            <a class="tag tag-grey" href="#">report</a>
          </li>
          <li>
            <a target="_blank" class="tag tag-grey" href="#">onlajn</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row m-0 p-3 align-items-center c-matches-section__item">
      <div
        class="col-5 col-lg-3 col-xl-auto mb-4 mb-xl-0 text-left text-md-center c-matches-section__logos"
      >
        <img src="images/ico/logo.svg" loading="lazy" alt="" />
        <img src="images/content/1.png" loading="lazy" alt="" />
      </div>
      <div class="col-lg-4 col-xl mb-4 mb-xl-0 c-matches-section__teams">
        <p>5. srpna 2021</p>
        <h3>SC Marimex Kolín - HC Slavia Praha</h3>
      </div>
      <div class="col-1 mb-4 mb-xl-0 text-center c-matches-section__score lose">
        0:5
      </div>
      <div class="col-12 col-md col-xl-3 text-center mb-4 mb-lg-0 text-xl-left">
        <ul class="c-matches-section__links">
          <li>
            <a class="tag tag-grey" href="#">fotky</a>
          </li>
          <li>
            <a class="tag tag-grey" href="#">report</a>
          </li>
          <li>
            <a target="_blank" class="tag tag-grey" href="#">onlajn</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row m-0 p-3 align-items-center c-matches-section__item">
      <div
        class="col-5 col-lg-3 col-xl-auto mb-4 mb-xl-0 text-left text-md-center c-matches-section__logos"
      >
        <img src="images/ico/logo.svg" loading="lazy" alt="" />
        <img src="images/content/1.png" loading="lazy" alt="" />
      </div>
      <div class="col-lg-4 col-xl mb-4 mb-xl-0 c-matches-section__teams">
        <p>5. srpna 2021</p>
        <h3>SC Marimex Kolín - HC Slavia Praha</h3>
      </div>
      <div class="col-1 mb-4 mb-xl-0 text-center c-matches-section__score">
        18:00
      </div>
      <div class="col-12 col-md col-xl-3 text-center mb-4 mb-lg-0 text-xl-left">
        <ul class="c-matches-section__links">
          <li>
            <a target="_blank" class="tag tag-grey" href="#">onlajn</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row m-0 p-3 align-items-center c-matches-section__item">
      <div
        class="col-5 col-lg-3 col-xl-auto mb-4 mb-xl-0 text-left text-md-center c-matches-section__logos"
      >
        <img src="images/ico/logo.svg" loading="lazy" alt="" />
        <img src="images/content/1.png" loading="lazy" alt="" />
      </div>
      <div class="col-lg-4 col-xl mb-4 mb-xl-0 c-matches-section__teams">
        <p>5. srpna 2021</p>
        <h3>SC Marimex Kolín - HC Slavia Praha</h3>
      </div>
      <div class="col-1 mb-4 mb-xl-0 text-center c-matches-section__score win">
        3:1
      </div>
      <div class="col-12 col-md col-xl-3 text-center mb-4 mb-lg-0 text-xl-left">
        <ul class="c-matches-section__links">
          <li>
            <a class="tag tag-grey" href="#">fotky</a>
          </li>
          <li>
            <a class="tag tag-grey" href="#">report</a>
          </li>
          <li>
            <a target="_blank" class="tag tag-grey" href="#">onlajn</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row m-0 p-3 align-items-center c-matches-section__item">
      <div
        class="col-5 col-lg-3 col-xl-auto mb-4 mb-xl-0 text-left text-md-center c-matches-section__logos"
      >
        <img src="images/ico/logo.svg" loading="lazy" alt="" />
        <img src="images/content/1.png" loading="lazy" alt="" />
      </div>
      <div class="col-lg-4 col-xl mb-4 mb-xl-0 c-matches-section__teams">
        <p>5. srpna 2021</p>
        <h3>SC Marimex Kolín - HC Slavia Praha</h3>
      </div>
      <div class="col-1 mb-4 mb-xl-0 text-center c-matches-section__score lose">
        0:5
      </div>
      <div class="col-12 col-md col-xl-3 text-center mb-4 mb-lg-0 text-xl-left">
        <ul class="c-matches-section__links">
          <li>
            <a class="tag tag-grey" href="#">fotky</a>
          </li>
          <li>
            <a class="tag tag-grey" href="#">report</a>
          </li>
          <li>
            <a target="_blank" class="tag tag-grey" href="#">onlajn</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row m-0 p-3 align-items-center c-matches-section__item">
      <div
        class="col-5 col-lg-3 col-xl-auto mb-4 mb-xl-0 text-left text-md-center c-matches-section__logos"
      >
        <img src="images/ico/logo.svg" loading="lazy" alt="" />
        <img src="images/content/1.png" loading="lazy" alt="" />
      </div>
      <div class="col-lg-4 col-xl mb-4 mb-xl-0 c-matches-section__teams">
        <p>5. srpna 2021</p>
        <h3>SC Marimex Kolín - HC Slavia Praha</h3>
      </div>
      <div class="col-1 mb-4 mb-xl-0 text-center c-matches-section__score">
        18:00
      </div>
      <div class="col-12 col-md col-xl-3 text-center mb-4 mb-lg-0 text-xl-left">
        <ul class="c-matches-section__links">
          <li>
            <a target="_blank" class="tag tag-grey" href="#">onlajn</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
