<section class="scoreboard scoreboard-new">
  <div class="container">
    <div class="scoreboard__inner d-flex flex-grow-1 js-scoreboard">
      <div class="scoreboard__box">
        <div class="scoreboard__item">
          <div class="scoreboard__img">
            <img src="images/content/1.png" loading="lazy" alt="logo" />
          </div>
          <div class="scoreboard__content">
            <ul class="tags">
              <li class="tag tag-grey">Úterý 8.2.</li>
            </ul>
            <div class="scoreboard__info">
              <div class="scoreboard__team">
                <span>PROSTĚJOV </span>
                <span>SLAVIA PRAHA</span>
              </div>
              <a href="#" class="scoreboard__result lose"> 4:3 </a>
            </div>
          </div>
        </div>
      </div>
      <div class="scoreboard__box">
        <div class="scoreboard__item">
          <div class="scoreboard__img">
            <img src="images/ico/logo.svg" loading="lazy" alt="logo" />
          </div>
          <div class="scoreboard__content">
            <ul class="tags">
              <li class="tag tag-primary">Čtvrtek 13.2.</li>
              <li class="tag tag-dark">doma</li>
            </ul>
            <div class="scoreboard__info">
              <div class="scoreboard__team">
                <span>PROSTĚJOV </span>
                <span>SLAVIA PRAHA</span>
              </div>
              <div class="scoreboard__result">17:00</div>
            </div>
          </div>
        </div>
      </div>
      <div class="scoreboard__box">
        <div class="scoreboard__item">
          <div class="scoreboard__img">
            <img src="images/content/2.png" loading="lazy" alt="logo" />
          </div>
          <div class="scoreboard__content">
            <ul class="tags">
              <li class="tag tag-grey">Úterý 8.2.</li>
            </ul>
            <div class="scoreboard__info">
              <div class="scoreboard__team">
                <span>PROSTĚJOV </span>
                <span>SLAVIA PRAHA</span>
              </div>
              <a href="#" class="scoreboard__result win">5:0</a>
            </div>
          </div>
        </div>
      </div>
      <div class="scoreboard__box">
        <div class="scoreboard__item">
          <div class="scoreboard__img">
            <img src="images/ico/logo.svg" loading="lazy" alt="logo" />
          </div>
          <div class="scoreboard__content">
            <ul class="tags">
              <li class="tag tag-primary">Čtvrtek 13.2.</li>
              <li class="tag tag-dark">venku</li>
            </ul>
            <div class="scoreboard__info">
              <div class="scoreboard__team">
                <span>PROSTĚJOV </span>
                <span>SLAVIA PRAHA</span>
              </div>
              <div class="scoreboard__result">17:00</div>
            </div>
          </div>
        </div>
      </div>
      <div class="scoreboard__box">
        <div class="scoreboard__item">
          <div class="scoreboard__img">
            <img src="images/ico/logo.svg" loading="lazy" alt="logo" />
          </div>
          <div class="scoreboard__content">
            <ul class="tags">
              <li class="tag tag-primary">Čtvrtek 13.2.</li>
              <li class="tag tag-dark">venku</li>
            </ul>
            <div class="scoreboard__info">
              <div class="scoreboard__team">
                <span>PROSTĚJOV </span>
                <span>SLAVIA PRAHA</span>
              </div>
              <div class="scoreboard__result">17:00</div>
            </div>
          </div>
        </div>
      </div>
      <div class="scoreboard__box">
        <div class="scoreboard__item">
          <div class="scoreboard__img">
            <img src="images/ico/logo.svg" loading="lazy" alt="logo" />
          </div>
          <div class="scoreboard__content">
            <ul class="tags">
              <li class="tag tag-primary">Čtvrtek 13.2.</li>
              <li class="tag tag-dark">doma</li>
            </ul>
            <div class="scoreboard__info">
              <div class="scoreboard__team">
                <span>PROSTĚJOV </span>
                <span>SLAVIA PRAHA</span>
              </div>
              <div class="scoreboard__result">17:00</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
