.footer {
  background-color: #1a1a1a;
  position: relative;
  .social {
    position: absolute;
    left: 0;
    @include media-breakpoint-down(lg) {
      justify-content: center;
      margin: 0 auto;
      position: relative;
      right: 0;
    }
  }
  .p2 {
    color: var(--color-light);
    text-align: center;
  }
  &__links {
    display: flex;
    flex-wrap: wrap;
    @include media-breakpoint-down(lg) {
      width: 100%;
      justify-content: center;
      order: -1;
      margin-bottom: 20px;
    }
    li {
      padding: 0 12px;
    }
    a {
      color: var(--color-light);
      font-size: 14px;
      text-decoration-color: transparent;
      &:hover {
        text-decoration-color: var(--color-light);
      }
    }
  }
  .navbar {
    justify-content: center;
    display: flex;
    margin-bottom: 38px;
    border-bottom: 1px solid rgba(#fff, 0.12);
    padding-bottom: 16px;
    @include media-breakpoint-down(lg) {
      margin-bottom: 20px;
    }
    &__menu {
      padding-left: 0;
      display: flex;
      @include media-breakpoint-down(xl) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
      }
      &-list {
        color: var(--color-gold);
        font-family: "BebasNeueBold";
        font-weight: 700;
        padding: 0 12px;
        a {
          text-decoration-color: transparent;
          transition: all 0.3s;
          letter-spacing: 0.5px;
          &:hover {
            text-decoration-color: inherit;
          }
        }
        @include media-breakpoint-down(xl) {
          width: auto;
          padding: 0 16px;
          height: auto;
        }
      }
    }
  }
  &__inner {
    padding-top: 90px;
    padding-bottom: 50px;
    max-width: 1060px;
    margin: 0 auto;
    position: relative;
    @include media-breakpoint-down(xl) {
      padding-top: 80px;
      padding-bottom: 24px;
      padding-inline: 20px;
    }
  }
  &__logo {
    position: absolute;
    left: 0;
    right: 0;
    top: -48px;
    height: 120px;
    width: 120px;
    margin: 0 auto;
    transition: all 0.3s;
    &:hover {
      transform: scale(1.1);
    }
    @include media-breakpoint-down(xl) {
      width: 90px;
      height: 90px;
    }
  }
}
#scrollToTopBtn {
  position: absolute;
  right: 0;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  svg,
  path {
    fill: var(--color-light);
  }
  &:hover {
    svg {
      transform: scale(1.2);
    }
  }

  svg {
    transition: all 0.3s;
    width: 16px;
    height: 16px;
    fill: var(--color-footer);
  }
}
.copyright {
  margin-top: 62px;
  @include media-breakpoint-down(xl) {
    margin-top: 24px;
  }
}
