<footer class="footer dark-mode">
  <a href="#" class="footer__logo">
    <img src="images/ico/logo.svg" loading="lazy" alt="logo" />
  </a>
  <div class="container">
    <div class="footer__inner">
      <!-- <nav class="navbar">
        <ul class="navbar__menu">
          <li class="navbar__menu-list">
            <a href="#" class="navbar__menu-item"> Klub </a>
          </li>
          <li class="navbar__menu-list">
            <a href="#" class="navbar__menu-item"> A-tým </a>
          </li>
          <li class="navbar__menu-list">
            <a href="#" class="navbar__menu-item"> zápasy </a>
          </li>
          <li class="navbar__menu-list">
            <a href="#" class="navbar__menu-item"> mládež </a>
          </li>
          <li class="navbar__menu-list">
            <a href="#" class="navbar__menu-item"> fanshop </a>
          </li>
          <li class="navbar__menu-list">
            <a href="#" class="navbar__menu-item"> partneři </a>
          </li>
          <li class="navbar__menu-list">
            <a href="#" class="navbar__menu-item"> rozpis tréninků </a>
          </li>
        </ul>
      </nav> -->
      <div
        class="d-flex justify-content-center align-items-center px-lg-10 flex-wrap"
      >
        {% include "@components/social/social-f.twig" %}
        <ul class="footer__links">
          <li>
            <a href="#">Kontakty</a>
          </li>
          <li>
            <a href="#">Podmínky použití webu</a>
          </li>
          <li>
            <a href="#">Ochrana soukromí</a>
          </li>
        </ul>
        <button id="scrollToTopBtn">
          {% include "@images/arrow-up.svg" %}
        </button>
      </div>
      <p class="p2 copyright">
        © LHK Jestřábi Prostějov - All rights reserved &

        <a target="_blank" href="https://esportsmedia.cz/">eSports s.r.o.</a>
      </p>
    </div>
  </div>
</footer>
