{% extends "@components/base/base.twig" %} {% set title = "08.0_hp-dark" %} {%
block main %}

<div class=" main-content dark-mode">
  {% include "@components/topstory-section/topstory-section.twig" %} {% include
  "@components/scoreboard/scoreboard.twig" %} {% include
  "@components/hp-posts-section/hp-posts-section.twig" %} {% include
  "@components/hp-fanshop/hp-fanshop.twig" %} {% include
  "@components/hp-board-section/hp-board-section.twig" %} {% include
  "@components/hp-statistics/hp-statistics.twig" %} {% include
  "@components/hp-gallery/hp-gallery.twig" %} {% include
  "@components/partners/partners.twig" %}
</div>

{% endblock %}
