{% extends "@components/base/base.twig" %} {% set title = "10.0_hp" %} {% block
main %}

<div class="main-content dark-mode dark-mode-2">
  {% include "@components/topstory-section/topstory-section.twig" %} {% include
  "@components/scoreboard/scoreboard.twig" %} {% include
  "@components/hp-posts-section/hp-posts-section.twig" %} {% include
  "@components/hp-fanshop/hp-fanshop.twig" %} {% include
  "@components/hp-gallery/hp-gallery.twig" %} {% include
  "@components/partners/partners.twig" %}
</div>

{% endblock %}
