{% extends "@components/base/base.twig" %} {% set title = "12.0_hp-3.1" %} {%
block main %}

<div class="main-content dark-mode dark-mode-2">
  {% include "@components/topstory-section/topstory-section.twig" %} {% include
  "@components/scoreboard/scoreboard-2.twig" %} {% include
  "@components/hp-posts-section/hp-posts-section.twig" %} {% include
  "@components/hp-fanshop/hp-fanshop.twig" %} {% include
  "@components/hp-gallery/hp-gallery.twig" %} {% include
  "@components/partners/partners.twig" %}
</div>

{% endblock %}
