{% extends "@components/base/base.twig" %} {% set title = "13.0_static" %} {%
block main %}
<section class="static-section mb-xl-10 mb-0">
  <div class="container">
    <div class="row g-10">
      <div class="col-xl-8">
        <div class="wrapper-section">
          <div class="o-content">
            <table
              class="nice"
              style="text-align: left"
              rel="text-align: left;"
              border="0"
            >
              <tbody>
                <tr>
                  <th class="item" colspan="2" style="text-align: center">
                    <strong>Základní informace o klubu</strong>
                  </th>
                </tr>
                <tr>
                  <td class="item">Adresa:</td>
                  <td>U Stadionu 4452/1, Prostějov 796 01</td>
                </tr>
                <tr>
                  <td class="item">Klubové barvy:</td>
                  <td>červená, zlatá, černá, bílá</td>
                </tr>
                <tr>
                  <td class="item">Rok založení:</td>
                  <td>1913</td>
                </tr>
                <tr>
                  <td class="item">Klubové názvy:</td>
                  <td>
                    SK Prostějov, ZSJ ČSSZ Prostějov, Tatran Prostějov, Slovan
                    Prostějov, TJ Železárny Prostějov, TJ Prostějov, HKC
                    Prostějov, BHS Prostějov, IHC Prostějov, HC Prostějov, HK
                    Jestřábi Prostějov, LHK Jestřábi Prostějov
                  </td>
                </tr>
                <tr>
                  <td class="item">Logo klubu:</td>
                  <td>
                    <img
                      src="https://lhkjestrabi.cz/foto/nové%20logo.png"
                      width="10%"
                    />
                  </td>
                </tr>
              </tbody>
            </table>
            <h1>Základní informace</h1>
            <h2>title h2</h2>
            <h3>title h3</h3>
            <h4>titlt h4</h4>
            <h5>title h5</h5>
            <h6>titlte h6</h6>

            <p>
              „Miloš je v ideálním fotbalovém věku. Jde o pracovitého, velmi
              odolného a neústupného hráče. Chtěli jsme ho už v létě, ale měl
              určité zdravotní potíže, které nicméně vyřešil, a tak jsme se k
              jednáním nyní vrátili. Věřím, že si pro sebe vybojuje pevnou
              pozici na pravé straně obrany a bude patřit k naším stěžejním
              hráčům,“ uvádí sportovní manažer SFC Jaroslav Kolínek.
            </p>
            <p>
              určité zdravotní potíže, které nicméně vyřešil, a tak jsme se k
              jednáním nyní vrátili. Věřím, že si pro sebe vybojuje pevnou
              pozici na pravé straně obrany a bude pat určité zdravotní potíže,
              které nicméně vyřešil, a tak jsme se k jednáním nyní vrátili.
              Věřím, že si pro sebe vybojuje pevnou pozici na pravé straně
              obrany a bude pat určité zdravotní potíže, které nicméně vyřešil,
              a tak jsme se k jednáním nyní vrátili. Věřím, že si pro sebe
              vybojuje pevnou pozici na pravé straně obrany a bude pat
            </p>
            <p>
              určité zdravotní potíže, které nicméně vyřešil, a tak jsme se k
              jednáním nyní vrátili. Věřím, že si pro sebe vybojuje pevnou
              pozici na pravé straně obrany a bude pat
            </p>
            <ul>
              <li>
                <a href="#">Základní informace</a>
              </li>
              <li>
                <a href="#">Historie klubu</a>
              </li>
              <li>Vedení</li>
              <li>
                <a href="#">Kontakty</a>
              </li>
            </ul>
            <h2>„Miloš je v ideálním</h2>
            <p>
              „Miloš je v ideálním <a href="#">fotbalovém věk</a> u. Jde o
              pracovitého, velmi odolného a neústupného hráče. Chtěli jsme ho už
              v létě, ale měl určité zdravotní potíže, které nicméně vyřešil, a
              tak jsme
            </p>
            <img src="images/content/topstory.png" alt="" loading="lazy" />
            <h3>„Miloš je v ideálním</h3>
            <p>
              „Náš první kontakt proběhl už v létě. Byl jsem po operaci. V
              Táborsku mi ještě dojížděla smlouva z Českých Budějovic. O zájmu
              Opavy jsem tedy věděl a zároveň jsem se chtěl přiblížit domovu,
              takže jsem se domluvili na spolupráci,“ říká Miloš Kopečný, jenž
              bydlí ve Zlíně.
            </p>
            <p>
              <img src="images/content/topstory.png" alt="" loading="lazy" />
            </p>
            <p>
              „Opavu mám zafixovanou jako klub s krásným stadionem a super
              fanoušky. Rád jsem tady hrával jako soupeř, protože tady byla
              vždycky dobrá atmosféra. Navíc jsem se bavil s Pepou Hnaníčkem a
              Lukášem Holíkem. Oba si působení v Opavě pochvalují, takže se moc
              těším,“ dodává Kopečný.
            </p>
            <h4>„Miloš je v ideálním</h4>
            <ol>
              <li>Lorem ipsum</li>
              <li>Dolor si amet</li>
              <li>
                consec tetur adipiscing elit
                <ol>
                  <li>Lorem ipsum</li>
                  <li>Dolor si amet</li>
                  <li>Lorem ipsum</li>
                  <li>Dolor si amet</li>
                </ol>
              </li>
              <li>Nam condimentum tempus diam</li>
            </ol>
            <p>
              Sedmadvacetiletý fotbalista má na svém kontě 50 prvoligových
              startů v dresu Zlína a Českých Budějovic. Druhou nejvyšší soutěž
              si zahrál za Sokolov, Hradec Králové a naposledy za Táborsko, kde
              na podzim naskočil do deseti utkání a vstřelil jeden gól. Sezonu
              si střihl také v nejvyšší slovenské soutěži, kde nastupoval za
              Senici. Nově bude působit ve Slezském FC.
            </p>
            <div>
              <table>
                <thead>
                  <tr>
                    <th>První sloupec</th>
                    <th>Druhý sloupec</th>
                    <th>Třetí a poslední sloupec</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Obsah prvního sloupce</td>
                    <td>Další obsah sloupce</td>
                    <td>
                      Obsah třetího a posledního sloupce, který je tentokrát o
                      něco delší.
                    </td>
                  </tr>
                  <tr>
                    <td>Obsah prvního sloupce</td>
                    <td>Další obsah sloupce</td>
                    <td>
                      Obsah třetího a posledního sloupce, který je tentokrát o
                      něco delší.
                    </td>
                  </tr>
                  <tr>
                    <td>Obsah prvního sloupce</td>
                    <td>Další obsah sloupce</td>
                    <td>
                      Obsah třetího a posledního sloupce, který je tentokrát o
                      něco delší.
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <p>
              „Opavu mám zafixovanou jako klub s krásným stadionem a super
              fanoušky. Rád jsem tady hrával jako soupeř, protože tady byla
              vždycky dobrá atmosféra. Navíc jsem se bavil s Pepou Hnaníčkem a
              Lukášem Holíkem. Oba si působení v Opavě pochvalují, takže se moc
              těším,“ dodává Kopečný.
            </p>
            <p>
              Sedmadvacetiletý fotbalista má na svém kontě 50 prvoligových
              startů v dresu Zlína a Českých Budějovic. Druhou nejvyšší soutěž
              si zahrál za Sokolov, Hradec Králové a naposledy za Táborsko, kde
              na podzim naskočil do deseti utkání a vstřelil jeden gól. Sezonu
              si střihl také v nejvyšší slovenské soutěži, kde nastupoval za
              Senici. Nově bude působit ve Slezském FC.
            </p>
            <p>Vítej Miloši!</p>
          </div>
        </div>
      </div>
      <div class="col-xl-4 d-block">
        <aside class="aside">
          <h3 class="h3 mb-4 text-primary">Aktuální články</h3>
          <a href="#" class="hp-posts__item mb-8">
            <div class="hp-posts__img">
              <img src="images/content/topstory.png" alt="" loading="lazy" />
            </div>
            <div class="hp-posts__info">
              <ul class="tags">
                <li class="tag tag-grey">preview</li>
                <li class="tag tag-dark">Před 2 hod</li>
              </ul>
              <h3 class="h3">Z Baťova města se vracíme s prázdnou</h3>
            </div>
          </a>
          <a href="#" class="hp-posts__item mb-8">
            <div class="hp-posts__img">
              <img src="images/content/topstory.png" alt="" loading="lazy" />
            </div>
            <div class="hp-posts__info">
              <ul class="tags">
                <li class="tag tag-grey">preview</li>
                <li class="tag tag-dark">Před 2 hod</li>
              </ul>
              <h3 class="h3">Z Baťova města se vracíme s prázdnou</h3>
            </div>
          </a>
          <a href="#" class="hp-posts__item mb-4">
            <div class="hp-posts__img">
              <img src="images/content/topstory.png" alt="" loading="lazy" />
            </div>
            <div class="hp-posts__info">
              <ul class="tags">
                <li class="tag tag-grey">preview</li>
                <li class="tag tag-dark">Před 2 hod</li>
              </ul>
              <h3 class="h3">Z Baťova města se vracíme s prázdnou</h3>
            </div>
          </a>
          <a href="#" class="tag tag-primary"> Další články </a>
        </aside>
      </div>
    </div>
  </div>
</section>
{% include "@components/hp-gallery/hp-gallery.twig" %} {% include
"@components/partners/partners.twig" %} {% endblock %}
