{% extends "@components/base/base.twig" %} {% set title = "16.0_archive" %} {%
block main %}

<section class="photogallery-section">
  <div class="menu-section">
    <div class="container">
      <div class="menu-section__inner">
        <h1 class="h1">Archiv</h1>

        <div class="ms-auto w-auto d-flex menu-section__form">
          <form action="" class="d-flex">
            <div class="d-flex mb-4 mb-sm-0">
              <input type="text" placeholder="Zadejte  text" />
              <button class="tag tag-grey btn">Hledat</button>
            </div>
          </form>
          <label class="o-select menu-section__label">
            <select class="js-select">
              <option>2021/22</option>
              <option value="tipsport">2020/21</option>
              <option value="tipsport">2019/20</option>
              <option value="tipsport">2018/19</option>
              <option value="tipsport">2017/18</option>
            </select>
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="photogallery-section__inner mb-5 mb-md-10">
    <div class="container">
      <div class="row g-5 g-md-10">
        <div class="col-lg-4 col-sm-6 cl-12">
          <figure>
            <a href="#">
              <img
                src="https://via.placeholder.com/408x408"
                loading="lazy"
                alt=""
              />
              <div class="photogallery-section__info">
                <h2 class="h3">Slezský FC Opava obhájil statuty SCM a SpSM</h2>
                <div class="tag tag-primary">16. 12. 2021</div>
              </div>
            </a>
          </figure>
        </div>
        <div class="col-lg-4 col-sm-6 cl-12">
          <figure>
            <a d href="#">
              <img
                src="https://via.placeholder.com/408x408"
                loading="lazy"
                alt=""
              />
              <div class="photogallery-section__info">
                <h2 class="h3">Slezský FC Opava obhájil statuty SCM a SpSM</h2>
                <div class="tag tag-primary">16. 12. 2021</div>
              </div>
            </a>
          </figure>
        </div>
        <div class="col-lg-4 col-sm-6 cl-12">
          <figure>
            <a d href="#">
              <img
                src="https://via.placeholder.com/408x408"
                loading="lazy"
                alt=""
              />
              <div class="photogallery-section__info">
                <h2 class="h3">Slezský FC Opava obhájil statuty SCM a SpSM</h2>
                <div class="tag tag-primary">16. 12. 2021</div>
              </div>
            </a>
          </figure>
        </div>
        <div class="col-lg-4 col-sm-6 cl-12">
          <figure>
            <a d href="#">
              <img
                src="https://via.placeholder.com/408x408"
                loading="lazy"
                alt=""
              />
              <div class="photogallery-section__info">
                <h2 class="h3">Slezský FC Opava obhájil statuty SCM a SpSM</h2>
                <div class="tag tag-primary">16. 12. 2021</div>
              </div>
            </a>
          </figure>
        </div>
        <div class="col-lg-4 col-sm-6 cl-12">
          <figure>
            <a d href="#">
              <img
                src="https://via.placeholder.com/408x408"
                loading="lazy"
                alt=""
              />
              <div class="photogallery-section__info">
                <h2 class="h3">Slezský FC Opava obhájil statuty SCM a SpSM</h2>
                <div class="tag tag-primary">16. 12. 2021</div>
              </div>
            </a>
          </figure>
        </div>
        <div class="col-lg-4 col-sm-6 cl-12">
          <figure>
            <a d href="#">
              <img
                src="https://via.placeholder.com/408x408"
                loading="lazy"
                alt=""
              />
              <div class="photogallery-section__info">
                <h2 class="h3">Slezský FC Opava obhájil statuty SCM a SpSM</h2>
                <div class="tag tag-primary">16. 12. 2021</div>
              </div>
            </a>
          </figure>
        </div>
        <div class="col-lg-4 col-sm-6 cl-12">
          <figure>
            <a d href="#">
              <img
                src="https://via.placeholder.com/408x408"
                loading="lazy"
                alt=""
              />
              <div class="photogallery-section__info">
                <h2 class="h3">Slezský FC Opava obhájil statuty SCM a SpSM</h2>
                <div class="tag tag-primary">16. 12. 2021</div>
              </div>
            </a>
          </figure>
        </div>
        <div class="col-lg-4 col-sm-6 cl-12">
          <figure>
            <a d href="#">
              <img
                src="https://via.placeholder.com/408x408"
                loading="lazy"
                alt=""
              />
              <div class="photogallery-section__info">
                <h2 class="h3">Slezský FC Opava obhájil statuty SCM a SpSM</h2>
                <div class="tag tag-primary">16. 12. 2021</div>
              </div>
            </a>
          </figure>
        </div>
        <div class="col-lg-4 col-sm-6 cl-12">
          <figure>
            <a d href="#">
              <img
                src="https://via.placeholder.com/408x408"
                loading="lazy"
                alt=""
              />
              <div class="photogallery-section__info">
                <h2 class="h3">Slezský FC Opava obhájil statuty SCM a SpSM</h2>
                <div class="tag tag-primary">16. 12. 2021</div>
              </div>
            </a>
          </figure>
        </div>
        <nav aria-label="Další stránky">
          <ul
            class="pagination d-flex flex-wrap pagination-flat pagination-success"
          >
            <li class="page-item active">
              <a class="page-link" href="#" data-abc="true">1</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#" data-abc="true">2</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#" data-abc="true">3</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#" data-abc="true">4</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#" data-abc="true"> »</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</section>

{% include "@components/hp-gallery/hp-gallery.twig" %} {% include
"@components/partners/partners.twig" %} {% endblock %}
