<section class="c-topstory-section">
  <div class="container">
    <div class="c-topstory-section__inner js-slider">
      <a href="#" class="topstory__item">
        <div class="topstory__img">
          <img src="images/content/topstory.png" alt="" loading="lazy" />
        </div>
        <div class="topstory__info">
          <ul class="tags">
            <li class="tag tag-primary">preview</li>
            <li class="tag tag-date">dnes</li>
          </ul>
          <h2>
            Budeme lepší ve všech směrech,
            <br />
            dodal kapitán týmu.
          </h2>
        </div>
      </a>
      <a href="#" class="topstory__item">
        <div class="topstory__img">
          <img src="images/content/topstory.png" alt="" loading="lazy" />
        </div>
        <div class="topstory__info">
          <ul class="tags">
            <li class="tag tag-primary">preview</li>
            <li class="tag tag-date">dnes</li>
          </ul>
          <h2>
            Budeme lepší ve všech směrech,
            <br />
            dodal kapitán týmu.
          </h2>
        </div>
      </a>
      <a href="#" class="topstory__item">
        <div class="topstory__img">
          <img src="images/content/topstory.png" alt="" loading="lazy" />
        </div>
        <div class="topstory__info">
          <ul class="tags">
            <li class="tag tag-primary">preview</li>
            <li class="tag tag-date">dnes</li>
          </ul>
          <h2>
            Budeme lepší ve všech směrech,
            <br />
            dodal kapitán týmu.
          </h2>
        </div>
      </a>
      <a href="#" class="topstory__item">
        <div class="topstory__img">
          <img src="images/content/topstory.png" alt="" loading="lazy" />
        </div>
        <div class="topstory__info">
          <ul class="tags">
            <li class="tag tag-primary">preview</li>
            <li class="tag tag-date">dnes</li>
          </ul>
          <h2>
            Budeme lepší ve všech směrech,
            <br />
            dodal kapitán týmu.
          </h2>
        </div>
      </a>
    </div>
  </div>
</section>
